{% extends 'base.html.twig' %} 
{% import "base.html.twig" as base %}
{% block title %}Feedback List{% endblock %}

{% block body %}
{{ base.NavBar() }}
{% include('event/artist/eventBar.html.twig') %}

    <center>
        {# <h1>Feedback List</h1> #}
        <br>
        <a href="{{ path('app_feedback_new_artist') }}" class="btn btn-success">Create New</a>
    </center>

    <div class="row" style="margin:20px">
        {% for feedback in feedback %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ feedback.rating }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ feedback.date ? feedback.date|date('Y-m-d H:i:s') : '' }}</h6>
                        <p class="card-text">{{ feedback.comment }}</p>
                        <a href="{{ path('app_feedback_show_artist', {'feedbackid': feedback.feedbackid}) }}" class="btn btn-primary">show</a>
                        <a href="{{ path('app_feedback_edit_artist', {'feedbackid': feedback.feedbackid}) }}" class="btn btn-secondary">edit</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>No feedback found</p>
        {% endfor %}
    </div>
{% endblock %}
