{% extends 'base.html.twig' %} 
{% import "base.html.twig" as base %}
{% block title %}Eventreport index{% endblock %}

{% block body %}
{{ base.NavBar() }}
{% include('event/artist/eventBar.html.twig') %}   

    <center>
        {# <h1>Eventreport index</h1> #}
        <br>
        <a href="{{ path('app_eventreport_new_artist') }}" class="btn btn-success">Create new</a>
    </center>

    <div class="row" style="margin:20px">
        {% for eventreport in eventreports %}
            <div class="col-md-4 mb-4" >
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Report ID: {{ eventreport.reportid }}</h5>
                        <p class="card-text">Attendance: {{ eventreport.attendance }}</p>
                        <a href="{{ path('app_eventreport_show_artist', {'reportid': eventreport.reportid}) }}" class="btn btn-primary">Show</a>
                        <a href="{{ path('app_eventreport_edit_artist', {'reportid': eventreport.reportid}) }}" class="btn btn-secondary">Edit</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>No records found</p>
        {% endfor %}
    </div>


{% endblock %}
