{% extends 'baseF.html.twig' %}
{% block content %}


    {% block body %}
        {% include('event/artist/eventBar.html.twig') %}

        <h1 style="margin:20px; color: deeppink;">Report details</h1>
        <br>
            <a style="margin-left:220px;" href="{{ path('app_event_export_pdf', { id: eventreport.reportid }) }}" class="btn btn-outline-primary">Make Pdf</a>
        </br>
        </br>
        <table>
            <tbody>
                <tr>
                    <th>Artist</th>
                    <td>{{ eventreport.event.user.name }}</td>
                </tr>

                <tr>
                    <th>Event</th>
                    <td>{{ eventreport.event.name }}</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ eventreport.event.type }}</td>
                </tr>

                <tr>
                    <th>Status</th>
                    <td>{{ eventreport.event.status }}</td>
                </tr>

                <tr>
                    <th>Location</th>
                    <td>{{ eventreport.event.location }}</td>
                </tr>

                <tr>
                    <th>Start Date</th>
                    <td>{{ eventreport.event.startdate ? eventreport.event.startdate|date('d-m-Y H:i') : '' }}</td>
                </tr>
                
                <tr>
                    <th>End Date</th>
                    <td>{{ eventreport.event.enddate ? eventreport.event.enddate|date('Y-m-d H:i') : '' }}</td>
                </tr>
                
                <tr>
                    <th>Description</th>
                    <td>{{ eventreport.event.description }}</td>
                </tr>
              
                    <tr>
                        <th>Entry Fee</th>
                        <td>{{ eventreport.event.entryfee }}</td>
                    </tr>

                <tr>
                    <th>Capacity</th>
                    <td>{{ eventreport.event.capacity }}</td>
                </tr>
              
                <tr>
                    <th>Attendance</th>
                    <td>{{ eventreport.attendance }}</td>
                </tr>

            </tbody>

        </table>

        <div style="float: left; margin-top: 20px; margin-left: 220px;">
            <a href="{{ path('app_eventreport_index_artist') }}" class="btn btn-outline-secondary">
                <i class="fas fa-arrow-left"></i> Back to List
            </a>
            <div style="display: inline-block;">
                    <a href="{{ path('app_eventreport_edit_artist', {'reportid': eventreport.reportid}) }}" class="btn btn-outline-success" style="margin-right: 15px; margin-left: 10px;">Edit</a>
                    <div style="float: right;">
                        {{ include('eventreport/artist/_delete_form.html.twig') }}
                    </div>
            </div>
        </div>



{% endblock %}
    {% block stylesheets %}
        <style>
            .enlarge {
                max-width: 100%;
                max-height: 100%;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                z-index: 9999;
                cursor: zoom-out;
            }
            table {
                border-collapse: collapse;
                width: 70%;
                font-family: 'Open Sans', sans-serif;
                background-color: #fff;
                border: 1px solid #ddd;
                margin: 0 auto; /* Add this line */
            }


            th, td {
                text-align: left;
                padding: 12px 8px;
                border-bottom: 1px solid #ddd;
            }

            th {
                background-color: #f5f5f5;
                font-size: 16px;
            }
            td {
            background-color: #fff;
            padding-left: 20px;
            }

            tr:hover {
                background-color: #f5f5f5;
            }

            img {
                max-width: 200px;
                max-height: 200px;
            }

            hr {
                border: none;
                height: 2px;
                background-color: #ddd;
                margin: 16px 0;
            }

            .button-group {
                margin-top: 16px;
            }

            .button-group a {
                margin-right: 8px;
                color: #fff;
                background-color: #4CAF50;
                padding: 8px;
                border-radius: 4px;
                text-decoration: none;
            }

            .button-group a:hover {
                background-color: #3e8e41;
            }

            .delete-form {
                display: inline-block;
                margin-left: 8px;
            }

            .category-icon {
                font-size: 20px;
                margin-right: 5px;
            }
        </style>

    {% endblock %}

{% endblock %}