{% extends 'baseE.html.twig' %} 
{% block content %}
{% block body %}
	{% include('event/admin/eventBar.html.twig') %}

    <center>
        {# <h1>Participation List</h1> #}
        <br>
        <a href="{{ path('app_participation_new') }}" class="btn btn-success">Create New</a>
    </center>
    <div class="row row-cols-1 row-cols-md-3 g-4" style="margin:20px">
        {% for participation in participations %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Participation {{ participation.participationid }}</h5>
                    <p class="card-text">Attendance Status: {{ participation.attendancestatus }}</p>
                    <p class="card-text">Registration Date: {{ participation.registrationdate ? participation.registrationdate|date('Y-m-d H:i:s') : '' }}</p>
                    <a href="{{ path('app_participation_show', {'participationid': participation.participationid}) }}" class="btn btn-primary">Show</a>
                    <a href="{{ path('app_participation_edit', {'participationid': participation.participationid}) }}" class="btn btn-secondary">Edit</a>
                </div>
            </div>
        </div>
        {% else %}
            <p>No records found.</p>
        {% endfor %}
    </div>

{% endblock %}
{% endblock %}
