{% extends 'baseE.html.twig' %} 
{% block content %}
{% block body %}
	{% include('event/admin/eventBar.html.twig') %}

    <h1>Participation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Participationid</th>
                <td>{{ participation.participationid }}</td>
            </tr>
            <tr>
                <th>Registrationdate</th>
                <td>{{ participation.registrationdate ? participation.registrationdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_participation_index_admin') }}">back to list</a>

    <a href="{{ path('app_participation_edit_admin', {'participationid': participation.participationid}) }}">edit</a>

    {{ include('participation/admin/_delete_form.html.twig') }}
{% endblock %}
{% endblock %}
