{% extends 'baseF.html.twig' %}
{% block content %}

    {% set connectedUser = returnConnectedUser() %}

    {% block body %}
        {% include('event/artist/eventBar.html.twig') %}

        <h1 style="margin:20px; color: deeppink;"><u>Event details</u></h1>
        <br>

        <table>
            <tbody>
                <tr>
                    <th>Title</th>
                    <td>{{ event.name }}</td>
                </tr>

                {% if not isOwner %}
                    <tr>
                        <th>Artist</th>
                        <td>{{ event.user.username }}</td>
                    </tr>
                {% endif %}

                <tr>
                    <th>Type</th>
                    <td>{{ event.type }}</td>
                </tr>

                <tr>
                    <th>Status</th>
                    <td>{{ event.status }}</td>
                </tr>

                <tr>
                    <th>Location</th>
                    <td>{{ event.location }}</td>
                </tr>

                <tr>
                    <th>Start Date</th>
                    <td>{{ event.startdate ? event.startdate|date('d-m-Y ~ H:i') : '' }}</td>
                </tr>
                
                <tr>
                    <th>End Date</th>
                    <td>{{ event.enddate ? event.enddate|date('d-m-Y ~ H:i') : '' }}</td>
                </tr>
                
                <tr>
                    <th>Description</th>
                    <td>{{ event.description }}</td>
                </tr>
               
                <tr>
                    <th>Activities</th>
                    <td>
                        <table style="float: left;">
                        <thead>
                            <tr>
                                <th style="text-align: center;">Title</th>
                                <th style="text-align: center;">Date</th>
                                <th style="text-align: center;">Host</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for activity in activities %}
                            <tr>
                            <td>{{ activity.title }}</td>
                            <td>{{ activity.date ? activity.date|date('d-m-Y H:i') : '' }}</td>
                            <td>{{ activity.host }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </td>
                </tr>
              
                <tr>
                    <th>Capacity</th>
                    <td>{{ event.capacity }}</td>
                </tr>
              
                <tr>
                    <th>Entry Fee</th>
                    <td>{{ event.entryfee }}</td>
                </tr>

                <tr>
                    <th>Image</th>
                    <td><img src="{{ asset(event.image) }}" alt="Ev Image" onclick="showImage(this)"></td>
                </tr>

                {% if not isOwner %}
                    <tr>
                        <th>Participation</th>
                            {% if participation %}
                                <td>
                                    <p style="color: green;">
                                        Participating ✅
                                    </p>
                                    <div style="margin-top: 10px">
                                        {{ include('participation/artist/_delete_form.html.twig') }}
                                    </div>
                                </td>
                            {% else %}
                                <td style="color: red; margin-top: 30px;">
                                    Not participating ❌
                                    <br><a style="margin-top: 10px" href="{{ path('app_participation_new_artist', {'eventid': event.eventid}) }}" class="btn btn-outline-success">Participate</a>
                                </td>
                            {% endif %}
                    </tr>
                {% endif %}

                {% if participation %}

                    <tr>
                        <th>Feedback</th>
                            {% if feedback %}
                                <td>
                                    <i> <p style="font-size: 12px;">Posted at {{ feedback.date ? feedback.date|date('d-m-Y H:i') : '' }}</p></i>
                                    <i> <p><strong>Rating > </strong>{{ feedback.rating }}</p></i>
                                    <i> <p><strong>Comment > </strong>{{ feedback.comment }}</p></i>
                                    <div style="margin-top: 10px">
                                        {{ include('feedback/artist/_delete_form.html.twig') }}
                                    </div>
                                </td>
                            {% else %}
                                <td style="margin-top: 30px;">
                                    <i>You have not yet shared your feedback on this event.</i>
                                    <br><a style="margin-top: 10px" href="{{ path('app_feedback_new_artist', {'eventid': event.eventid}) }}" class="btn btn-outline-primary">Rate</a>
                                </td>
                            {% endif %}
                    </tr>

                {% endif %}

            </tbody>

        </table>

        <div style="display: flex; flex-direction: column; align-items: center; margin-top: 20px;">
            <iframe style="border:0; width: 70%; height: 350px; display: block; margin: 0 auto;" class="img-fluid" src="https://maps.google.com/maps?q=+{{event.location}}+&hl=fr&z=14&amp;output=embed" frameborder="0" allowfullscreen></iframe>
            <div class="map-wrapper-300 mb-3"></div>
        </div>

        <div style="float: left; margin-top: 20px; margin-left: 220px;">
            {% if app.session.get('user_role') == "artist" %}
                <a href="{{ path('app_event_index_artist') }}" class="btn btn-outline-secondary">
                    <i class="fas fa-arrow-left"></i> Back to List
                </a>
            {% elseif app.session.get('user_role') == "client" %}
                <a href="{{ path('app_event_index_client') }}" class="btn btn-outline-secondary">
                    <i class="fas fa-arrow-left"></i> Back to List
                </a>
            {% endif %}
            <div style="display: inline-block;">
                {% if isOwner %}
                    <a href="{{ path('app_event_edit_artist', {'eventid': event.eventid}) }}" class="btn btn-outline-success" style="margin-right: 15px; margin-left: 10px;">Edit</a>
                    <div style="float: right;">
                        {{ include('event/artist/_delete_form.html.twig') }}
                    </div>
                {% else %}
                    {# <a href="{{ path('app_feedback_new_artist', {'eventid': event.eventid}) }}" class="btn btn-outline-primary">Rate</a> #}
                {% endif %}
            </div>
        </div>
        <script>
            function showImage(img) {
                img.classList.toggle("enlarge");
            }
        </script>
    {% endblock %}

    {% block stylesheets %}
        <style>
            .enlarge {
                max-width: 100%;
                max-height: 100%;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                z-index: 9999;
                cursor: zoom-out;
            }
            table {
                border-collapse: collapse;
                width: 70%;
                font-family: 'Open Sans', sans-serif;
                background-color: #fff;
                border: 1px solid #ddd;
                margin: 0 auto; /* Add this line */
            }


            th, td {
                text-align: left;
                padding: 12px 8px;
                border-bottom: 1px solid #ddd;
            }

            th {
                background-color: #f5f5f5;
                font-size: 16px;
            }
            td {
            background-color: #fff;
            padding-left: 20px;
            }

            tr:hover {
                background-color: #f5f5f5;
            }

            img {
                max-width: 200px;
                max-height: 200px;
            }

            hr {
                border: none;
                height: 2px;
                background-color: #ddd;
                margin: 16px 0;
            }

            .button-group {
                margin-top: 16px;
            }

            .button-group a {
                margin-right: 8px;
                color: #fff;
                background-color: #4CAF50;
                padding: 8px;
                border-radius: 4px;
                text-decoration: none;
            }

            .button-group a:hover {
                background-color: #3e8e41;
            }

            .delete-form {
                display: inline-block;
                margin-left: 8px;
            }

            .category-icon {
                font-size: 20px;
                margin-right: 5px;
            }
        </style>

    {% endblock %}

{% endblock %}