{% extends 'baseE.html.twig' %} 
{% block content %}
{% block body %}
	{% include('event/admin/eventBar.html.twig') %}

    <center>
        {# <h1>Eventreport index</h1> #}
        <br>
        <a href="{{ path('app_eventreport_new') }}" class="btn btn-success">Create new</a>
    </center>

    <div class="row" style="margin:20px">
        {% for eventreport in eventreports %}
            <div class="col-md-4 mb-4" >
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Report ID: {{ eventreport.reportid }}</h5>
                        <p class="card-text">Attendance: {{ eventreport.attendance }}</p>
                        <a href="{{ path('app_eventreport_show', {'reportid': eventreport.reportid}) }}" class="btn btn-primary">Show</a>
                        <a href="{{ path('app_eventreport_edit', {'reportid': eventreport.reportid}) }}" class="btn btn-secondary">Edit</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>No records found</p>
        {% endfor %}
    </div>


{% endblock %}
{% endblock %}
