{% extends 'base.html.twig' %}

{% block title %}Orderrefund{% endblock %}

{% block body %}
    <h1>Orderrefund</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>OrderrefundId</th>
                <td>{{ orderrefund.orderrefundId }}</td>
            </tr>
            <tr>
                <th>Refundamount</th>
                <td>{{ orderrefund.refundamount }}</td>
            </tr>
            <tr>
                <th>Reason</th>
                <td>{{ orderrefund.reason }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ orderrefund.date ? orderrefund.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_orderrefund_index') }}">back to list</a>

    <a href="{{ path('app_orderrefund_edit', {'orderrefundId': orderrefund.orderrefundId}) }}">edit</a>

    {{ include('orderrefund/_delete_form.html.twig') }}
{% endblock %}
