{% extends 'base.html.twig' %} 
{% import "base.html.twig" as base %}
{% block body %}

{% include('Components/NavBar.html.twig') %}

{% include('order/orderBar.html.twig') %}
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>ShippingoptionId</th>
                <th>Name</th>
                <th>Carrier</th>
                <th>Shippingspeed</th>
                <th>Shippingfee</th>
                <th>Availableregions</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for shippingoption in shippingoptions %}
            <tr>
                <td>{{ shippingoption.shippingoptionId }}</td>
                <td>{{ shippingoption.name }}</td>
                <td>{{ shippingoption.carrier }}</td>
                <td>{{ shippingoption.shippingspeed }}</td>
                <td>{{ shippingoption.shippingfee }}</td>
                <td>{{ shippingoption.availableregions }}</td>
                <td>
                    <a href="{{ path('app_shippingoption_show', {'shippingoptionId': shippingoption.shippingoptionId}) }}">show</a>
                    <a href="{{ path('app_shippingoption_edit', {'shippingoptionId': shippingoption.shippingoptionId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_shippingoption_new') }}">Create new</a>
{% endblock %}
