{% extends 'base.html.twig' %}

{% block title %}Participation index{% endblock %}

{% block body %}
    <h1>Participation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Participationid</th>
                <th>Attendancestatus</th>
                <th>Registrationdate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participation in participations %}
            <tr>
                <td>{{ participation.participationid }}</td>
                <td>{{ participation.attendancestatus }}</td>
                <td>{{ participation.registrationdate ? participation.registrationdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_participation_show', {'participationid': participation.participationid}) }}">show</a>
                    <a href="{{ path('app_participation_edit', {'participationid': participation.participationid}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_participation_new') }}">Create new</a>
{% endblock %}
