<style>
	.chip-select {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		border: 1px solid #ccc;
		padding: 5px;
		border-radius: 5px;
	}

	.selected-chips {
		display: flex;
		flex-wrap: wrap;
		gap: 5px;
	}

	.selected-chips .chip {
		display: flex;
		align-items: center;
		background-color: #ccc;
		color: #333;
		border-radius: 20px;
		padding: 5px 10px;
		margin-right: 5px;
	}

	.selected-chips .chip .close {
		margin-left: 5px;
		cursor: pointer;
	}

	input[type="text"] {
		flex: 1;
		border: none;
		outline: none;
		padding: 5px;
	}

	input[type="text"]::placeholder {
		color: #999;
	}
</style>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			{{ form_start(form, {'attr': {'class': 'form-floating'}}) }}
			<div class="form-group">
				{{ form_label(form.title, null, {'label_attr': {'class': 'form-label'













				}})}}
				{{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Title', 'id': 'title'













				}}) }}
			</div>

			<div class="form-group">
				{{ form_label(form.content, null, {'label_attr': {'class': 'form-label'













				}}) }}
				{{ form_widget(form.content, {'attr': {'class': 'form-control', 'placeholder': 'Content', 'id': 'content'













				}}) }}
			</div>

			<div class="form-group">
				{{ form_label(form.category, null, {'label_attr': {'class': 'form-label'













				}}) }}
				{{ form_widget(form.category, {'attr': {'class': 'form-control select2', 'id': 'category'













				}}) }}
			</div>

			<div class="form-group">
				{{ form_label(form.tags, null, {'label_attr': {'class': 'form-label'











				}})}}
				<div>
					<label for="chip-select">Select Chips:</label>
					<div class="chip-select">
						<div class="selected-chips"></div>
						<input type="text" id="chip-select" list="chip-options" />
						<datalist id="chip-options">
							{% for tag in tagsList %}
							<option value="{{ tag.name }}"></option>
							{% endfor %}
						</datalist>
					</div>
				</div>
				{#
				{{ form_widget(form.tags, {'attr': {'class': 'form-select', 'multiple' ,'id': 'tags','size'='3'













				}}) }} #}
			</div>

			{# {{ form_row(form.tags) }} #}
			<div class="form-group">
				{{ form_label(form.author, null, {'label_attr': {'class': 'form-label'













				}}) }}
				{{ form_widget(form.author, {'attr': {'class': 'form-control select2', 'id': 'author'













				}}) }}
			</div>

			<div class="form-group">
				{{ form_label(form.file, null, {'label_attr': {'class': 'form-label'













				}})}}
				{{ form_widget(form.file, {'attr': {'class': 'form-control', 'id': 'formFile'













				}}) }}
			</div>

			<button type="submit" class="btn btn-primary">
				{{ button_label|default('Post') }}
			</button>

			{{ form_end(form) }}
		</div>
	</div>
</div>

<script>
	const chipSelect = document.querySelector("#chip-select");
	const selectedChips = document.querySelector(".selected-chips");

	let selectedValues = [];
	function handleInput(event) {
		const inputValue = event.target.value.trim();
		if (event.type === "keydown" && event.key !== "Enter") {
			return;
		}
		if (inputValue) {
			if (selectedValues.indexOf(inputValue) === -1) {
				selectedValues.push(inputValue);
				addChip(inputValue);
			}
			event.target.value = "";
		}
	}

	chipSelect.addEventListener("keydown", handleInput);
	chipSelect.addEventListener("input", handleInput);
	// chipSelect.addEventListener("keydown", (event) => {
	//   const inputValue = event.target.value.trim();
	//   if () {
	//     if (selectedValues.indexOf(inputValue) === -1) {
	//       selectedValues.push(inputValue);
	//       addChip(inputValue);
	//     }
	//     event.target.value = "";
	//   }
	// });
	selectedChips.addEventListener("click", (event) => {
		if (event.target.classList.contains("close")) {
			const chip = event.target.parentNode;
			const chipValue = chip.getAttribute("data-value");
			const index = selectedValues.indexOf(chipValue);
			selectedValues.splice(index, 1);
			selectedChips.removeChild(chip);
		}
	});

	function addChip(value) {
		const chip = document.createElement("div");
		chip.classList.add("chip");
		chip.setAttribute("data-value", value);
		chip.innerHTML = `
    <span>${value}</span>
    <span class="close">&times;</span>
  `;
		selectedChips.appendChild(chip);
	}
</script>
