<link rel="stylesheet" href="{{ asset('assets/Blog/CSS/BlogCard.css') }}" />
<link
	rel="stylesheet"
	href="{{ asset('plugins/fontawesome-free/css/all.min.css') }}"
/>
<style>
	.small-image {
		width: 1.2em;
		margin-right: 0.5em;
		color: #8bacd9;
	}
	.small-avatar {
		width: 32px;
		height: 32px;
		border-radius: 50%;
		outline: 2px solid white;
		margin-right: 1.4em;
		object-position: center center;
		object-fit: cover;
	}
	@media only screen and (max-width: 1024px) {
		.card-container {
			display: flex;
			flex-direction: column;
			margin-bottom: 1.5rem;
			padding: 1.5rem;
			border: 1px solid #ccc;
			border-radius: 0.5rem;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
		}
		.hero-image {
			border-radius: 15px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			aspect-ratio: 1/1;
			object-fit: cover;
			/* scale the image to cover the entire container */
			object-position: center center;
			/* center the image */
		}

		.card-container a.hero-image-container {
			width: 100%;
			margin-right: 0;
			margin-bottom: 1.5rem;
		}

		.card-container .main-content {
			width: 100%;
		}

		.card-container h1 {
			font-size: 1.5rem;
			margin-bottom: 1rem;
		}

		.card-container .row {
			margin-bottom: 0.5rem;
		}

		.card-container .card_info {
			margin-left: 0.5rem;
		}

		.card-container p.blog_content {
			margin-bottom: 1rem;
		}

		.card-container .card-attribute {
			margin-top: 1rem;
		}

		.card-container .read-more {
			display: block;
			margin-top: 1rem;
		}
	}
</style>
<div class="card-container">
	<a
		href="{{ path('app_blogs_show', { blogs_ID: blog.getBlogsId() }) }}"
		class="hero-image-container col-4"
	>
		{% if blog_media != null %}
		<img
			class="hero-image"
			src="{{ getRemoteBlogsMedia(blog_media.getFilePath()) }}"
			alt="Spinning glass cube"
		/>
		{% else %}
		<img
			class="hero-image"
			src="{{ asset('assets/Blog/img/default-product.png') }}"
			alt="Spinning glass cube"
		/>
		{% endif %}
	</a>
	<div class="main-content col-8">
		<h1>
			<a href="{{ path('app_blogs_show', { blogs_ID: blog.getBlogsId() }) }}">{{
				blog.title
			}}</a>
		</h1>
		<div class="row">
			<div class="col">
				<div class="time-left">
					<img
						src="https://i.postimg.cc/prpyV4mH/clock-selection-no-bg.png"
						alt="clock"
						class="small-image"
					/>
					<p>{{blog.date|date('d-M-Y')}}</p>
				</div>
			</div>
			<div class="col">
				<div class="time-left card_info">
					<i class="fa-solid fa-eye small-image fa-lg"></i>
					{% if blog.nbViews != null %}
					<p>{{ blog.nbViews }}</p>
					{% else %}
					<p>0</p>
					{% endif %}
				</div>
			</div>
			<div class="col">
				<div class="time-left card_info">
					<i class="fa-solid fa-star small-image fa-lg"></i>
					{% if blog.rating != null %}
					<p>{{ blog.rating }}</p>
					{% else %}
					<p>0</p>
					{% endif %}
				</div>
			</div>
		</div>
		<p class="blog_content">{{ blog.content }}...</p>
		<div class="flex-row"></div>
		<div class="card-attribute">
			{#
			<img
				src="https://i.postimg.cc/SQBzNQf1/image-avatar.png"
				alt="avatar"
				class="small-avatar"
			/>
			#} {% if blog.author != null %}
			<img
				src="{{ getRemoteBlogsMedia(blog.author.getPicture()) }}"
				alt="avatar"
				class="small-avatar"
			/>
			{% else %}
			<img
				src="{{ asset('assets/User/user.png') }}"
				alt="avatar"
				class="small-avatar"
			/>
			{% endif %}
			<p>
				Posted By
				<span>
					<a
						href="{{
							path('app_user_Profile', { userId: blog.author.getUserId() })
						}}"
						>{{ blog.author.name }}</a
					>
				</span>
			</p>
		</div>
		<a
			href="{{ path('app_blogs_show', { blogs_ID: blog.getBlogsId() }) }}"
			class="read-more"
		>
			Read more
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="icon"
				viewBox="0 0 20 20"
				fill="currentColor"
			>
				<path
					fill-rule="evenodd"
					d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
					clip-rule="evenodd"
				/>
			</svg>
		</a>
	</div>
</div>
