{% extends 'base.html.twig' %} {% block title %}Blogs index{% endblock %} {%
block body %} {% import "base.html.twig" as base %}
<link rel="stylesheet" href="{{ asset('assets/Blog/CSS/BlogList.css') }}" />
<style>
	.articles {
		margin: 20px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		align-content: center;
	}

	/* For Tablet View */
	@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		.articles {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			margin: 20px;
		}
	}

	/* For Mobile Portrait View */
	@media screen and (max-device-width: 480px) and (orientation: portrait) {
		.articles {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			margin: 20px;
		}
	}

	/* For Mobile Landscape View */
	@media screen and (max-device-width: 640px) and (orientation: landscape) {
		.articles {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			margin: 20px;
		}
	}

	/* For Mobile Phones Portrait or Landscape View */
	@media screen and (max-device-width: 640px) {
		.articles {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			margin: 20px;
		}
	}
</style>
<h1>Blogs index</h1>

{#
<table class="table" border="2">
	<thead>
		<tr>
			<th>Blogs_ID</th>
			<th>Title</th>
			<th>Content</th>
			<th>Date</th>
			<th>Rating</th>
			<th>NbViews</th>
			<th>Author</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for blog in blogs %}
		<tr>
			<td>{{ blog.getBlogsId() }}</td>
			<td>{{ blog.title }}</td>
			<td>{{ blog.content }}</td>
			<td>{{ blog.date ? blog.date|date('Y-m-d H:i:s') : '' }}</td>
			<td>{{ blog.rating }}</td>
			<td>{{ blog.nbViews }}</td>
			<td>{{ blog.author.name }}</td>
			<td>
				<a href="{{ path('app_blogs_show', { blogs_ID: blog.getBlogsId() }) }}"
					>show</a
				>
				<a href="{{ path('app_blogs_edit', { blogs_ID: blog.getBlogsId() }) }}"
					>edit</a
				>
			</td>
		</tr>
		{% else %}
		<tr>
			<td colspan="7">no records found</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
#}
<section class="articles">
	{% for blog in blogs %}
	{{ base.card(blog, getBlogsMedia(blog.getBlogsId())) }}
	{% else %}
	<h2>no records found</h2>
	{% endfor %}
</section>
<a href="{{ path('app_blogs_new') }}">Create new</a>
{% endblock %}
