{% extends 'baseF.html.twig' %}{% import "base.html.twig" as base %} {% block
content %}
<link rel="stylesheet" href="{{ asset('assets/Blog/CSS/BlogPage.css') }}" />

<style>
	@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

	body {
		height: 100%;
		font-family: "Raleway", sans-serif;
		-webkit-font-smoothing: antialiased;
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		color: #dfdfdf;
		font-family: "Aldrich", sans-serif;
	}

	h2 {
		font-size: 36px;
		line-height: 1.4;
	}

	h3 {
		font-size: 30px;
	}

	h4 {
		font-size: 24px;
	}

	h5 {
		font-size: 18px;
	}

	h6 {
		font-size: 16px;
	}

	p {
		font-family: "Raleway", sans-serif;
		font-size: 16px;
		color: #707070;
		line-height: 1.8;
	}

	img {
		max-width: 100%;
	}

	.infoSpan {
		font-family: "Aldrich", sans-serif;
		font-size: 18px;
		color: #dfdfdf;
	}

	input:focus,
	button:focus,
	textarea:focus {
		outline: none;
	}

	a:hover,
	a:focus {
		text-decoration: none;
		outline: none;
	}

	ul {
		padding: 0;
		margin: 0;
	}

	@media (min-width: 1200px) {
		.container {
			max-width: 1200px;
		}
	}

	/*-------------------
   Blog Single Page
 --------------------*/

	.blog__single {
		padding: 100px 59px;
	}

	@media (max-width: 576px) {
		.blog__single {
			padding: 100px 0;
		}
	}

	/* .blog__post__content{

	} */

	.blog__post__content p {
		margin-bottom: 50px;
	}

	.blog__post__content h4 {
		margin-bottom: 20px;
	}

	.blog__post__content img {
		margin-bottom: 40px;
	}

	.blog__post__content blockquote {
		padding: 25px 10px 5px 65px;
		margin-bottom: 40px;
		position: relative;
		background-image: url("../img/quote.png");
		background-repeat: no-repeat;
		background-position: left top;
	}

	@media (max-width: 576px) {
		.blog__post__content blockquote {
			padding: 80px 10px 30px;
		}
	}

	.blog__post__content blockquote p {
		font-style: italic;
		font-size: 20px;
		margin-bottom: 30px;
		line-height: 1.4;
	}

	.blog__post__content blockquote h6 {
		color: #0ece91;
	}

	.blog__post__content blockquote h6 span {
		font-family: "Raleway", sans-serif;
		color: #707070;
	}

	.post__cata {
		font-size: 16px;
		font-family: "Raleway", sans-serif;
		color: #0ece91;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	.post__title {
		font-size: 32px;
		text-transform: uppercase;
		margin-bottom: 25px;
		color: #dfdfdf;
	}

	@media (max-width: 576px) {
		.post__title {
			font-size: 24px;
		}
	}

	.post__date {
		font-size: 16px;
		font-family: "Raleway", sans-serif;
		color: #b7b7b7;
		margin-bottom: 30px;
	}

	.post__footer {
		margin-bottom: 70px;
	}

	.post__tags a {
		display: inline-block;
		font-family: "Raleway", sans-serif;
		color: #707070;
		font-size: 14px;
		padding: 5px 21px;
		margin-bottom: 5px;
		margin-right: 2px;
		background-color: #f3f3f3;
		border-radius: 50px;
	}

	.tags__wedget a {
		display: inline-block;
		/* border-radius: 50px; */
		font-family: "Raleway", sans-serif;
		color: #707070;
		font-size: 14px;
		padding: 5px 21px;
		margin-bottom: 10px;
		margin-right: 6px;
		background-color: #f3f3f3;
	}
	.commentCont {
		border-radius: 15px;
		background-color: #392534;
		margin-top: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 10px;
		padding-left: 10px;
	}
	.commentSection {
		display: inline-flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: center;
		align-content: center;
	}
</style>

<div class="blog__single">
	<div class="container">
		<div class="row">
			{#
			<div class="col-lg-9">
				#}
				<article class="blog__post__content">
					<div class="row">
						<div class="part1 col">
							<div class="post__cata">
								{% if blog_cat != null %}
								{{ blog_cat.category.name }}{% else %} No Category {% endif %}
							</div>
							<h2 class="post__title">{{ blog.title }}</h2>
							<div class="post__date">
								Posted By
								<a
									href="{{
										path('app_user_show', { userId: blog.author.getUserId() })
									}}"
									style="color: #0ece91"
									>{{ blog.author.name }}</a
								>
								On
								{{ blog.date ? blog.date|date('Y-m-d ') : '' }}
							</div>
							{% if blog_media != null %}
							<img
								class="hero-image"
								src="{{ getRemoteBlogsMedia(blog_media.getFilePath()) }}"
								alt="Spinning glass cube"
							/>
							{% else %}
							<img
								class="hero-image"
								src="{{ asset('assets/Blog/img/default-product.png') }}"
								alt="Spinning glass cube"
							/>
							{% endif %}
							<div class="commentSection">
								<h1>Comments index</h1>
								<div class="commentCont">
									{{ include("comments/_form.html.twig") }}
								</div>
								{% for comment in blog_Comments %}
								{{ base.commentCard(comment) }}
								{% else %}
								<tr>
									<td colspan="5">no records found</td>
								</tr>
								{% endfor %}
							</div>
						</div>
						<div class="part2 col">
							<div class="row">
								<div class="col">
									<ul>
										<li>
											<i
												class="fa-solid fa-eye small-image fa-2xl"
												style="color: #ffd700"
											></i>
											{% if blog.nbViews != null %}
											<span class="infoSpan">{{ blog.nbViews }}</span>
											{% else %}
											<span class="infoSpan">0</span>
											{% endif %}
										</li>
									</ul>
								</div>

								<div class="col">
									<ul>
										<li>
											<i
												class="fa-solid fa-star small-image fa-2xl"
												style="color: #ffd700"
											></i>
											{% if blog.rating != null %}
											<span class="infoSpan">{{ blog.rating }}</span>
											{% else %}
											<span class="infoSpan">0</span>
											{% endif %}
										</li>
									</ul>
								</div>
							</div>
							<br />
							<p>{{ blog.content }}</p>
							<div class="post__footer">
								<div class="row">
									<div class="col-md-6">
										<div class="post__tags">
											{% for blog_tag in blog_tags %} {% if blog_tag.tag %}
											<a href="#">{{ blog_tag.tag.name }}</a>
											{% endif %} {% else %}
											<h2>No Tags</h2>
											{% endfor %}
										</div>
									</div>
									<div class="col-md-6">
										{# {% set qr_code = builder.getString() %}
										<img src="{{ qr_code }}" alt="QR Code" /> #}
										<img src="{{ qr_code_url(url) }}" />

										{#
										<div class="post__share">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-google"></i></a>
											<a href="#"><i class="fa fa-pinterest"></i></a>
										</div>
										#}
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
				{#
			</div>
			#}
		</div>
	</div>
</div>

<a href="{{ path('app_blogs_index') }}">back to list</a>
<div class="d-flex flex-row mb-3">
	<a
		href="{{ path('app_blogs_edit', { blogs_ID: blog.getBlogsId() }) }}"
		class="btn btn-outline-success"
		>Edit</a
	>

	{{ include("blogs/_delete_form.html.twig") }}
</div>

{# //
<script>
	// 	async function translateText() {
	// 		const url =
	// 			"https://microsoft-translator-text.p.rapidapi.com/translate?to%5B0%5D=%3CREQUIRED%3E&api-version=3.0&profanityAction=NoAction&textType=plain";
	// 		const options = {
	// 			method: "POST",
	// 			headers: {
	// 				"content-type": "application/json",
	// 				"X-RapidAPI-Key": "6f3263b87emsh731a59fef986bd4p12c1ccjsn09010e141dad",
	// 				"X-RapidAPI-Host": "microsoft-translator-text.p.rapidapi.com",
	// 			},
	// 			body: [
	// 				{
	// 					Text: "I would really like to drive your car around the block a few times.",
	// 				},
	// 			],
	// 		};

	// 		try {
	// 			const response = await fetch(url, options);
	// 			const result = await response.text();
	// 			console.log(result);
	// 		} catch (error) {
	// 			console.error(error);
	// 		}
	// 	}

	// 	translateText();
	//
</script>
#} {% endblock %}
