{% extends 'base.html.twig' %} {% import "base.html.twig" as base %}{% block
title %}Admin index{% endblock %} {% block body %}
{{ base.NavBar() }}
<table class="table">
	<thead>
		<tr>
			<th>AdminId</th>
			<th>Department</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		{% for admin in admins %}
		<tr>
			<td>{{ admin.adminId }}</td>
			<td>{{ admin.department }}</td>
			<td>
				<a href="{{ path('app_admin_show', { adminId: admin.adminId }) }}"
					>show</a
				>
				<a href="{{ path('app_admin_edit', { adminId: admin.adminId }) }}"
					>edit</a
				>
			</td>
		</tr>
		{% else %}
		<tr>
			<td colspan="3">no records found</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<a href="{{ path('app_admin_new') }}">Create new</a>
{% endblock %}
