{% extends 'baseR.html.twig' %}
{% block content %}

	{% block stylesheets %}

		<style>
			.table-container {
				display: inline-block;
				vertical-align: top;
				margin-right: 20px;
			}
			.table {
				border-collapse: collapse;
				width: 100%;
			}
			.table th,
			.table td {
				border: 1px solid #ddd;
				padding: 8px;
				text-align: left;
			}
			.table th {
				background-color: #f2f2f2;
			}
			.table td.actions {
				text-align: center;
			}
			.table td.actions a {
				display: inline-block;
				margin: 0 5px;
				padding: 5px 10px;
				background-color: #4CAF50;
				color: white;
				text-decoration: none;
				border-radius: 3px;
				transition: background-color 0.3s ease;
			}
			.table td.actions a:hover {
				background-color: #3e8e41;
			}
			.orderby-link {
				display: inline-block;
				padding: 10px 20px;
				border: 1px solid #ddd;
				border-radius: 3px;
				background-color: #f2f2f2;
				color: #333;
				text-decoration: none;
				transition: background-color 0.3s ease;
			}

			.orderby-link:hover {
				background-color: #ddd;
			}

			.create-button {
				margin-bottom: 20px;
				text-align: right;
			}
			.create-button a {
				display: inline-block;
				padding: 10px 20px;
				background-color: #4CAF50;
				color: white;
				text-decoration: none;
				border-radius: 3px;
				transition: background-color 0.3s ease;
			}
			.create-button a:hover {
				background-color: #3e8e41;
			}
			.table td img {
				max-width: 100%;
				height: auto;
				width: 100px;
				display: block;
				margin: 0 auto;
				padding: 5px;
			}
			/* Styles for the custom products table */
			.custom-products-container {
				display: flex;
				justify-content: center;
				margin-top: 20px;
			}

			.custom-products-container table {
				border-collapse: collapse;
				width: 100%;
			}

			.custom-products-container th,
			.custom-products-container td {
				border: 1px solid #ddd;
				padding: 8px;
				text-align: left;
			}

			.custom-products-container th {
				background-color: #f2f2f2;
			}

			.custom-products-container td.actions {
				text-align: center;
			}

			.custom-products-container td.actions a {
				display: inline-block;
				margin: 0 5px;
				padding: 5px 10px;
				background-color: #4CAF50;
				color: white;
				text-decoration: none;
				border-radius: 3px;
				transition: background-color 0.3s ease;
			}

			.custom-products-container td.actions a:hover {
				background-color: #3e8e41;
			}

			.custom-products-container td img {
				max-width: 100%;
				height: auto;
				width: 100px;
				display: block;
				margin: 0 auto;
				padding: 5px;
			}
			.nav_links {
				cursor: pointer;
			}
			.adminSection {
				margin-left: 5px;
			}

			.link-style {
				display: inline-block;
				padding: 10px 20px;
				margin-right: 20px;
				border-radius: 4px;
				color: white;
				background-color: #43464B;
				font-weight: bold;
				text-decoration: none;
				float: right;
			}

			.link-style:hover {
				background-color: #3e8e41;
				color: white;
			}

			/* Search Bar */
			.form-control {
				display: inline-block;
				width: 30%;
				padding: 6px 12px;
				font-size: 14px;
				font-weight: 400;
				line-height: 1.5;
				color: #55595c;
				background-color: #fff;
				background-image: none;
				border: 1px solid #ccc;
				border-radius: 4px;
				-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
				box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
				-webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
				transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
				transition: box-shadow ease-in-out 0.15s, border-color ease-in-out 0.15s;
				transition: box-shadow ease-in-out 0.15s, border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
			}

			.orderby-link {
				display: inline-block;
				background-color: #43464B;
				padding: 5px 10px 9px 9px;
				color: white;
				text-decoration: none;
				font-size: 16px;
				border-radius: 4px;
				border-color: #43464B;
				transition: background-color 0.3s ease;
			}


			.orderby-option-link {
				display: inline-block;
				background-color: white;
				padding: 6px 5px 5px 9px;
				color: black;
				text-decoration: none;
				font-size: 16px;
				border-radius: 4px;
				border-color: #43464B;
				transition: background-color 0.3s ease;
			}
		</style>
	{% endblock %}
	{% block body %}

		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script>
			$(document).ready(function () {
$('th').click(function () {
var table = $(this).parents('table').eq(0)
var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
this.asc = !this.asc
if (!this.asc) {
rows = rows.reverse()
}
for (var i = 0; i < rows.length; i++) {
table.append(rows[i])
}
})
})

function comparer(index) {
return function (a, b) {
var valA = getCellValue(a, index),
valB = getCellValue(b, index)
return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
}
}

function getCellValue(row, index) {
return $(row).children('td').eq(index).text()
}
		</script>
		<script>
			$(document).ready(function () {
$('#searchInput').keyup(function () {
var searchText = $(this).val().toLowerCase();
$('table tbody tr').each(function () {
var rowText = $(this).text().toLowerCase();

if (rowText.includes(searchText)) {
$(this).show();
} else {
$(this).hide();
}
});
});
});
		</script>
		<div class="adminSection">
			<br>
			<form action="{{ path('app_readyproduct_index') }}" method="GET">
				<div class="form-group">

					<button type="button" style="background-color: #43464B; align: left;" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						Order by Price
					</button>
					<ul class="dropdown-menu">
						<li class="d-flex">
							<a class="dropdown-item align-self-center" href="{{ path('app_readyproduct__asc_price_index_admin') }}">
								<i class="fa-solid fa-sort-up"></i>
								Lowest to highest
							</a>
						</li>
						<li class="d-flex">
							<a class="dropdown-item align-self-center" href="{{ path('app_readyproduct__desc_price_index_admin') }}">
								<i class="fa-solid fa-sort-down"></i>
								Highest to lowest
							</a>
						</li>
					</ul>
					<select id="category-select" class="orderby-link" name="category">
						<option value="">Order by category</option>
						{% for category in categories %}
							<option class="orderby-option-link" value="{{ category.categoriesId }}">{{ category.name }}</option>
						{% endfor %}
					</select>

					<input type="text" id="searchInput" placeholder="Search..."><a href="{{ path('app_readyproduct_admin') }}" class="link-style-cancel">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewbox="0 0 16 16">
							<path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
						</svg>
						Cancel all
					</a>
				</div>
				<a href="{{ path('app_readyproduct_new_admin') }}" class="link-style">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewbox="0 0 16 16">
						<path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
					</svg>
					Add new product</a>
				<br>

				<section id="ready-products">

					<h3>Ready products</h3>
					<div class="table-container">
						<table class="table">
							<thead>
								<tr>
									<th>Name</th>
									<th>User</th>
									<th>Category</th>
									<th>Dimensions</th>
									<th>Material</th>
									<th>Weight (Kg)</th>
									<th>Description</th>
									<th>Price (TND)</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for readyproduct in readyproducts %}
									<tr>
										<td>{{ readyproduct.productId.name }}</td>
										<td>{{ readyproduct.userId }}</td>
										<td>{{ readyproduct.productId.category }}</td>
										<td>{{ readyproduct.productId.dimensions }}</td>
										<td>{{ readyproduct.productId.material }}</td>
										<td>{{ readyproduct.productId.weight }}</td>
										<td>{{ readyproduct.productId.description }}</td>
										<td>{{ readyproduct.price }}</td>
										<td>
											<a href="{{ path('app_readyproduct_show_admin', {'readyProductId': readyproduct.readyProductId}) }}">show</a>
											<a href="{{ path('app_readyproduct_admin_delete', {'readyProductId': readyproduct.readyProductId}) }}">delete</a>
										</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="7">no records found</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</section>

					<section id="category">
						<div class="col">
							<h3>Categories</h3>

							<table class="table">
								<thead>
									<tr>
										<th>Name</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									{% for category in categories %}
										<tr>
											<td>{{ category.name }}</td>
											<td>
												<a href="{{ path('app_categories_edit', {'categoriesId': category.categoriesId}) }}">edit</a>
												<a href="{{ path('app_categories_delete', {'categoriesId': category.categoriesId}) }}">delete</a>
											</td>
										</tr>
									{% else %}
										<tr>
											<td colspan="3">no records found</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</section>

				<section id="ready-products">

					<h3>Product reviews</h3>
					<table class="table">
						<thead>
							<tr>
								<th>Product</th>
								<th>Title</th>
								<th>User</th>
								<th>Rating</th>
								<th>Text</th>
								<th>Date</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for productreview in productreviews %}
								<tr>
									<td>{{ productreview.readyProductId.productId.name }}</td>
									<td>{{ productreview.title }}</td>
									<td>{{ productreview.userId }}</td>
									<td>{{ productreview.rating }}</td>
									<td>{{ productreview.text }}</td>
									<td>{{ productreview.date ? productreview.date|date('Y-m-d H:i:s') : '' }}</td>
									<td>
										<a href="{{ path('app_review_index_admin', {'readyProductId': productreview.readyProductId}) }}">show</a>
										<a href="{{ path('app_productreview_delete', {'reviewId': productreview.reviewId}) }}">delete</a>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="7">no records found</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</section>

			</div>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>


			<script>
				const categorySelect = document.getElementById('category-select');
categorySelect.addEventListener('change', (event) => {
const selectedValue = event.target.value;
if (selectedValue) {
window.location.href = "{{ path('app_readyproduct__desc_cat_index_admin') }}?category=" + selectedValue;
}
});
			</script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
		{% endblock %}
	{% endblock %}
