{% extends 'base.html.twig' %}

{% block title %}Readyproduct index{% endblock %}

{% block body %}
    <h1>Ready products list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ReadyProductId</th>
                <th>Price</th>
                <th>ProductId</th>
                <th>UserId</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
       {% for readyproduct in readyproducts %}
    {% set product = readyproduct.getProduct() %}
    <tr>
        <td>{{ readyproduct.readyProductId }}</td>
        <td>{{ readyproduct.price }}</td>
        <td>{{ product.categoryId }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.dimensions }}</td>
        <td>{{ product.weight }}</td>
        <td>{{ product.material }}</td>
        <td>{{ product.image }}</td>
        <td>{{ readyproduct.userId }}</td>
        <td>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_readyproduct_new') }}">Create new</a>
{% endblock %}
