{% extends 'base.html.twig' %}

{% block title %}Readyproduct index{% endblock %}

{% block body %}
    <h1>Ready products list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ReadyProductId</th>
                <th>Price</th>
                <th>ProductId</th>
                <th>UserId</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
       {% for readyproduct in readyproducts %}
            <tr>
                <td>{{ readyproduct.readyProductId }}</td>
                <td>{{ readyproduct.price }}</td>
                <td>{{ readyproduct.productId }}</td>
                <td>{{ readyproduct.userId }}</td>
                <td>
                    <a href="{{ path('app_readyproduct_show', {'readyProductId': readyproduct.readyProductId}) }}">show</a>
                    <a href="{{ path('app_readyproduct_edit', {'readyProductId': readyproduct.readyProductId}) }}">edit</a>
                </td>
            </tr>
          {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_readyproduct_new') }}">Create new</a>
{% endblock %}
