{% extends 'baseF.html.twig' %}
{% block content %}
	<a href="{{ path('app_readyproduct_index') }}">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewbox="0 0 16 16">
			<path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
		</svg>
		back to list</a>
	<br><br>
	{% block title %}
		<h4>Product
			<em>details</em>
		</h4>
	{% endblock %}


	{% block stylesheets %}

		<style>
			.pagination {
				display: flex;
				justify-content: center;
				margin-top: 20px;
			}

			.pagination ul {
				display: flex;
				flex-wrap: wrap;
				list-style: none;
				padding: 0;
				margin: 0;
			}

			.pagination li {
				margin: 0 5px;
				border: 1px solid #ccc;
				border-radius: 3px;
				background-color: #f2f2f2;
			}

			.pagination li.active {
				background-color: #333;
			}

			.pagination li span,
			.pagination li a {
				display: block;
				padding: 5px 10px;
				text-align: center;
				color: #333;
				text-decoration: none;
				transition: all 0.2s ease-in-out;
			}

			.pagination li a:hover {
				background-color: #333;
				color: #fff;
			}

			.pagination li.disabled {
				opacity: 0.5;
				pointer-events: none;
			}

			.pagination li.disabled span {
				color: #999;
			}


			.ready-card {
				margin-top: 0;
				padding: 30px;
				background-color: #1f2122;
				border-radius: 23px;
			}

			.ready-card:hover {
				box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
				transform: translateY(-2px);
			}

			.ready-card h2 {
				margin-top: 0;
				margin-bottom: 10px;
				font-size: 24px;
				color: #FFFFFF;
			}

			.ready-card p {
				margin-top: 0;
				color: #FFFFFF;
			}

			.ready-card a {
				display: inline-block;
				margin-top: 10px;
				padding: 12px 20px;
				background-color: #AA336A;
				color: #FFFFFF;
				border-radius: 5px;
				text-decoration: none;
				transition: background-color 0.2s ease-in-out;
			}

			.ready-card a:hover {
				background-color: #0D6E72;
			}

			.ready-card img {
				width: 100%;
				height: 200px;
				object-fit: cover;
				border-radius: 5px;
				margin-bottom: 10px;
			}

			.ready-card:nth-child(4n + 1) {
				clear: left;
			}

			.review-card {
				border-radius: 10px;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
				margin: 10px;
				padding: 20px;
				display: inline-block;
				width: 100%;
				background-color: #232931;
				transition: box-shadow 0.2s ease-in-out;
				align: center;
			}

			.review-card:hover {
				box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
				transform: translateY(-2px);
			}

			.review-card h2 {
				margin-top: 0;
				margin-bottom: 10px;
				font-size: 24px;
				color: #FFFFFF;
			}

			.review-card p {
				margin-top: 0;
				color: #FFFFFF;
			}

			.review-card a {
				display: inline-block;
				margin-top: 10px;
				padding: 12px 20px;
				background-color: #AA336A;
				color: #FFFFFF;
				border-radius: 5px;
				text-decoration: none;
				transition: background-color 0.2s ease-in-out;
			}

			.review-card a:hover {
				background-color: #0D6E72;
			}

			.review-card img {
				width: 100%;
				height: 200px;
				object-fit: cover;
				border-radius: 5px;
				margin-bottom: 10px;
			}

			.review-card:nth-child(4n + 1) {
				clear: left;
			}
			.orderby-link {
				display: inline-block;
				padding: 8px 16px;
				background-color: #AA336A;
				color: white;
				text-align: center;
				text-decoration: none;
				font-size: 16px;
				border-radius: 4px;
				transition: background-color 0.3s ease;
			}

			.orderby-link:hover {
				background-color: #AA336A;
			}

			/* Search Bar */
			.form-control {
				display: inline-block;
				width: 70%;
				padding: 6px 12px;
				font-size: 14px;
				font-weight: 400;
				line-height: 1.5;
				color: #55595c;
				background-color: #fff;
				background-image: none;
				border: 1px solid #ccc;
				border-radius: 4px;
				-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
				box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
				-webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
				transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
				transition: box-shadow ease-in-out 0.15s, border-color ease-in-out 0.15s;
				transition: box-shadow ease-in-out 0.15s, border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
			}

			.form-control:focus {
				border-color: #66afe9;
				outline: 0;
				-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
				box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
			}

			.btn-search {
				display: inline-block;
				width: 20%;
				padding: 6px 12px;
				margin-left: 10px;
				font-size: 14px;
				font-weight: 400;
				line-height: 1.5;
				color: #fff;
				background-color: #17a2b8;
				border: 1px solid #17a2b8;
				border-radius: 4px;
				-webkit-transition: background-color ease-in-out 0.15s, border-color ease-in-out 0.15s;
				transition: background-color ease-in-out 0.15s, border-color ease-in-out 0.15s;
				cursor: pointer;
			}

			.btn-search:hover {
				background-color: #117a8b;
				border-color: #10707f;
			}


			.link-style {
				display: inline-block;
				padding: 10px 20px;
				margin-right: 0;
				margin-top: 20px;
				border-radius: 4px;
				color: white;
				background-color: #43464B;
				font-weight: bold;
				text-decoration: none;
				align: right;
			}

			.link-style:hover {
				background-color: #3e8e41;
				color: white;
			}

			.link-style-cancel {
				display: inline-block;
				padding: 5px 10px;
				margin-right: 20px;
				border-radius: 4px;
				color: white;
				background-color: #43464B;
				font-weight: bold;
				text-decoration: none;
				float: center;
			}

			.link-style-cancel:hover {
				background-color: #AA336A;
				color: white;
			}

			.form-control {
				width: 20%;
			}

			input#search-term {
				float: center;
			}

			#button mid {
				background-color: #AA336A;
			}

			.button {
				button-color: #AA336A;
				background: #AA336A;
			}

			#form-check-label {
				float: center;
				background-color: #FFFFFF;
			}

			.form-check-input:checked {
				background-color: #AA336A;
				border-color: #AA336A;
			}

			.pill {
				display: inline-block;
				background-color: #0D6E72;
				color: #fff;
				border-radius: 20px;
				padding: 2px 5px;
				margin-right: 10px;
				font-size: 70%;
				text-align: left;
				float: right;
			}

			.align {
				text-align: right;
			}

			.align-price {
				margin-top: 18px;
				float: left;
			}

			.align-review {
				text-align: right;
				margin-bottom: 10px;
			}

			#review {
				display: inline-block;
				padding: 0;
				margin-right: 0;
				border-radius: 0;
				color: initial;
				background-color: initial;
				font-weight: normal;
				text-decoration: none;
				float: none;
			}

			#review:hover {
				color: #0D6E72;
			}

			.date {
				float: right;
			}

			body .page-content {
				margin-top: 0;
			}
		</style>

	{% endblock %}
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="page-content">

					<div class="ready-card">
						<img src="{{ asset('imagescustom/' ~ readyproduct.productId.image) }}" alt="{{ readyproduct.productId.name }} image"/>
						<div>
							<p class="pill">{{ readyproduct.productId.category }}</p>
						</div>
						<h2>{{ readyproduct.productId.name }}</h2>
						<p>
							<strong>Made by:</strong>
							{{ readyproduct.userId }}</p>
						<p>
							<strong>Weight:</strong>
							{{ readyproduct.productId.weight }}
							Kg</p>
						<p>
							<strong>Material:</strong>
							{{ readyproduct.productId.material }}</p>
						<p>
							<strong>Dimensions:</strong>
							{{ readyproduct.productId.dimensions }}</p>
						<br>
						<p>{{ readyproduct.productId.description }}</p>
						<br>
						<p>
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-star-fill" viewbox="0 0 16 16">
								<path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z"/>
							</svg>
							{{ averageRating }}</p>
						<br>
						<div class="align-price">
							<p>{{ readyproduct.price }}
								TND</p>
						</div>
						<div class="align">

							<a href="{{ path('app_readyproduct_show', {'readyProductId': readyproduct.productId}) }}">order</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block stylesheets %}

<style>
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination li {
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f2f2f2;
}

.pagination li.active {
  background-color: #333;
}

.pagination li span,
.pagination li a {
  display: block;
  padding: 5px 10px;
  text-align: center;
  color: #333;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.pagination li a:hover {
  background-color: #333;
  color: #fff;
}

.pagination li.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.pagination li.disabled span {
  color: #999;
}


.ready-card {
    margin-top: 0px;
    padding: 30px;
    background-color: #1f2122;
    border-radius: 23px;
}

.ready-card:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.ready-card h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #FFFFFF;
}

.ready-card p {
    margin-top: 0px;
    color: #FFFFFF;
}

.ready-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 12px 20px;
    background-color: #AA336A;
    color: #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

.ready-card a:hover {
    background-color: #0D6E72;
}

.ready-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.ready-card:nth-child(4n+1) {
    clear: left;
}

.review-card {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 20px;
    display: inline-block;
    width: 100%;
    background-color: #232931;
    transition: box-shadow 0.2s ease-in-out;
    align: center;
}

.review-card:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.review-card h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #FFFFFF;
}

.review-card p {
    margin-top: 0px;
    color: #FFFFFF;
}

.review-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 12px 20px;
    background-color: #AA336A;
    color: #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

.review-card a:hover {
    background-color: #0D6E72;
}

.review-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.review-card:nth-child(4n+1) {
    clear: left;
}
.orderby-link {
  display: inline-block;
  padding: 8px 16px;
  background-color: #AA336A;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.orderby-link:hover {
  background-color: #AA336A;
}

/* Search Bar */
.form-control {
  display: inline-block;
  width: 70%;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: box-shadow ease-in-out .15s,border-color ease-in-out .15s;
  transition: box-shadow ease-in-out .15s,border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.btn-search {
  display: inline-block;
  width: 20%;
  padding: 6px 12px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #17a2b8;
  border: 1px solid #17a2b8;
  border-radius: 4px;
  -webkit-transition: background-color ease-in-out .15s,border-color ease-in-out .15s;
  transition: background-color ease-in-out .15s,border-color ease-in-out .15s;
  cursor: pointer;
}

.btn-search:hover {
  background-color: #117a8b;
  border-color: #10707f;
}



.link-style {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 0px;
  margin-top: 20px;
  border-radius: 4px;
  color: white;
  background-color: #43464B;
  font-weight: bold;
  text-decoration: none;
  align: right;
}

.link-style:hover {
  background-color: #3e8e41;
  color: white;
}

.link-style-cancel {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 20px;
  border-radius: 4px;
  color: white;
  background-color: #43464B;
  font-weight: bold;
  text-decoration: none;
  float: center;
}

.link-style-cancel:hover {
  background-color: #AA336A;
  color: white;
}

.form-control {
    width: 20%;
}

input#search-term {
    float: center;
}

#button mid {
    background-color: #AA336A;
}

.button {
    button-color: #AA336A;
    background: #AA336A;
}

#form-check-label {
  float: center;
  background-color: #FFFFFF;
}

.form-check-input:checked {
    background-color: #AA336A;
    border-color: #AA336A;
}

.pill {
  display: inline-block;
  background-color: #0D6E72;
  color: #fff;
  border-radius: 20px;
  padding: 2px 5px;
  margin-right: 10px;
  font-size: 70%;
  text-align: left;
  float: right;
}

.align {
  text-align: right;
}

.align-price {
  margin-top: 18px;
  float: left;
}

.align-review {
  text-align: right;
  margin-bottom: 10px;
}

#review {
  display: inline-block;
  padding: 0;
  margin-right: 0;
  border-radius: 0;
  color: initial;
  background-color: initial;
  font-weight: normal;
  text-decoration: none;
  float: none;
}

#review:hover {
  color: #0D6E72;
}

.date {
    float: right;
}

body .page-content {
    margin-top: 0px;
}
</style>

{% endblock %}
<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

<div class="ready-card">
    <img src="{{ asset('imagescustom/' ~ readyproduct.productId.image) }}" alt="{{ readyproduct.productId.name }} image" />
    <div>
        <p class="pill">{{ readyproduct.productId.category }}</p>
    </div>
    <h2>{{ readyproduct.productId.name }}</h2>
    <p><strong>Made by:</strong> {{ readyproduct.userId }}</p>
        <p><strong>Weight:</strong> {{ readyproduct.productId.weight }} Kg</p>
        <p><strong>Material:</strong> {{ readyproduct.productId.material }}</p>
        <p><strong>Dimensions:</strong> {{ readyproduct.productId.dimensions }}</p>
        <br>
        <p>{{ readyproduct.productId.description }}</p>
        <br>
        <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-star-fill" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z"/>
                    </svg> {{ averageRating }}</p>
    <br>
    <div class="align-price">
        <p>{{ readyproduct.price }} TND</p>
    </div>
<div class="align">
<input type="number" id="quantity" name="quantity" value="1" min="1">
<a href="#" id="order-link">order</a>

<script>
  var quantityField = document.getElementById("quantity");
  var orderLink = document.getElementById("order-link");
  orderLink.href = "{{ path('app_wishlist_new_client', {'id': readyproduct.getReadyProductId(),'price': readyproduct.price, 'quantity': 'PLACEHOLDER'})}}";
  
  quantityField.addEventListener("change", function() {
    orderLink.href = orderLink.href.replace("PLACEHOLDER", quantityField.value);
  });
</script>
</div>
</div>
                </div>
              </div>
            </div>
          </div>
{% endblock %}
{% block body %}
	<h1>Readyproduct</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>ReadyProductId</th>
				<td>{{ readyproduct.readyProductId }}</td>
			</tr>
			<tr>
				<th>Price</th>
				<td>{{ readyproduct.price }}</td>
			</tr>
			<tr>
				<th>ProductId</th>
				<td>{{ readyproduct.productId }}</td>
			</tr>
			<tr>
				<th>UserId</th>
				<td>{{ readyproduct.userId }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_readyproduct_index') }}">back to list</a>

	<a href="{{ path('app_readyproduct_edit', {'readyProductId': readyproduct.readyProductId}) }}">edit</a>

	{{ include('readyproduct/_delete_form.html.twig') }}
{% endblock %}
