{% extends 'baseR.html.twig' %}
{% block content %}

	{% block stylesheets %}

		<style>
			.table-container {
				display: inline-block;
				vertical-align: top;
				margin-right: 20px;
			}
			.table {
				border-collapse: collapse;
				width: 100%;
			}
			.table th,
			.table td {
				border: 1px solid #ddd;
				padding: 8px;
				text-align: left;
			}
			.table th {
				background-color: #f2f2f2;
			}
			.table td.actions {
				text-align: center;
			}
			.table td.actions a {
				display: inline-block;
				margin: 0 5px;
				padding: 5px 10px;
				background-color: #4CAF50;
				color: white;
				text-decoration: none;
				border-radius: 3px;
				transition: background-color 0.3s ease;
			}
			.table td.actions a:hover {
				background-color: #3e8e41;
			}
			.orderby-link {
				display: inline-block;
				padding: 10px 20px;
				border: 1px solid #ddd;
				border-radius: 3px;
				background-color: #f2f2f2;
				color: #333;
				text-decoration: none;
				transition: background-color 0.3s ease;
			}

			.orderby-link:hover {
				background-color: #ddd;
			}

			.create-button {
				margin-bottom: 20px;
				text-align: right;
			}
			.create-button a {
				display: inline-block;
				padding: 10px 20px;
				background-color: #4CAF50;
				color: white;
				text-decoration: none;
				border-radius: 3px;
				transition: background-color 0.3s ease;
			}
			.create-button a:hover {
				background-color: #3e8e41;
			}
			.table td img {
				max-width: 100%;
				height: auto;
				width: 100px;
				display: block;
				margin: 0 auto;
				padding: 5px;
			}
			/* Styles for the custom products table */
			.custom-products-container {
				display: flex;
				justify-content: center;
				margin-top: 20px;
			}

			.custom-products-container table {
				border-collapse: collapse;
				width: 100%;
			}

			.custom-products-container th,
			.custom-products-container td {
				border: 1px solid #ddd;
				padding: 8px;
				text-align: left;
			}

			.custom-products-container th {
				background-color: #f2f2f2;
			}

			.custom-products-container td.actions {
				text-align: center;
			}

			.custom-products-container td.actions a {
				display: inline-block;
				margin: 0 5px;
				padding: 5px 10px;
				background-color: #4CAF50;
				color: white;
				text-decoration: none;
				border-radius: 3px;
				transition: background-color 0.3s ease;
			}

			.custom-products-container td.actions a:hover {
				background-color: #3e8e41;
			}

			.custom-products-container td img {
				max-width: 100%;
				height: auto;
				width: 100px;
				display: block;
				margin: 0 auto;
				padding: 5px;
			}
			.nav_links {
				cursor: pointer;
			}
			.adminSection {
				margin-left: 5px;
			}

			#pill {
				display: inline-block;
				background-color: #0D6E72;
				color: #fff;
				border-radius: 20px;
				padding: 4px 10px;
				margin-right: 10px;
				font-size: 100%;
				text-align: left;
				float: right;
			}

			.ready-card {
				margin-top: 0;
				padding: 30px;
				background-color: white;
				border-radius: 23px;
			}

			.ready-card:hover {
				box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
				transform: translateY(-2px);
			}

			.ready-card h2 {
				margin-top: 0;
				margin-bottom: 10px;
				font-size: 24px;
				color: black;
			}

			.ready-card p {
				margin-top: 0;
				color: black;
			}

			.ready-card a {
				display: inline-block;
				margin-top: 10px;
				padding: 12px 20px;
				background-color: #AA336A;
				color: black;
				border-radius: 5px;
				text-decoration: none;
				transition: background-color 0.2s ease-in-out;
			}

			.ready-card a:hover {
				background-color: #0D6E72;
			}

			.ready-card img {
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 50%;
				height: 50%;
				object-fit: cover;
				border-radius: 5px;
				margin-bottom: 50px;
			}

			.ready-card:nth-child(4n + 1) {
				clear: left;
			}
		</style>
	{% endblock %}
	<br>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="page-content">

					<div class="ready-card">
						<img src="{{ asset(readyproduct.productId.image) }}" alt="{{ readyproduct.productId.name }} image"/>
						<div>
							<p id="pill">{{ readyproduct.productId.category }}</p>
						</div>
						<h2>{{ readyproduct.productId.name }}</h2>
						<p>
							<strong>Made by:</strong>
							{{ readyproduct.userId }}</p>
						<p>
							<strong>Weight:</strong>
							{{ readyproduct.productId.weight }}
							Kg</p>
						<p>
							<strong>Material:</strong>
							{{ readyproduct.productId.material }}</p>
						<p>
							<strong>Dimensions:</strong>
							{{ readyproduct.productId.dimensions }}</p>
						<br>
						<p>{{ readyproduct.productId.description }}</p>
						<br>
						<p>
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-star-fill" viewbox="0 0 16 16">
								<path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z"/>
							</svg>
							{{ averageRating }}</p>
						<br>
						<div class="align-price">
							<p>{{ readyproduct.price }}
								TND</p>
						</div>
						<div class="align">

							<a href="{{ path('app_readyproduct_edit_admin', {'readyProductId': readyproduct.productId}) }}">edit</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
