{% extends 'baseC.html.twig' %}

{% block title %}Categories{% endblock %}
{% block content %}
{% block body %}
    <h1>Categories</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>CategoriesId</th>
                <td>{{ category.categoriesId }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_categories_index') }}">back to list</a>

    <a href="{{ path('app_categories_edit', {'categoriesId': category.categoriesId}) }}">edit</a>

    {{ include('categories/_delete_form.html.twig') }}
{% endblock %}
{% endblock %}