{% extends 'base.html.twig' %}

{% block title %}Orderupdate index{% endblock %}

{% block body %}
    <h1>Orderupdate index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>OrderupdateId</th>
                <th>Updatemessage</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for orderupdate in orderupdates %}
            <tr>
                <td>{{ orderupdate.orderupdateId }}</td>
                <td>{{ orderupdate.updatemessage }}</td>
                <td>{{ orderupdate.date ? orderupdate.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_orderupdate_show', {'orderupdateId': orderupdate.orderupdateId}) }}">show</a>
                    <a href="{{ path('app_orderupdate_edit', {'orderupdateId': orderupdate.orderupdateId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_orderupdate_new') }}">Create new</a>
{% endblock %}
