{% extends 'base.html.twig' %} 
{% import "base.html.twig" as base %}
{% block body %}

{% include('Components/NavBar.html.twig') %}

{% include('order/orderBar.html.twig') %}

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>OrderupdateId</th>
                <th>Updatemessage</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for orderupdate in orderupdates %}
            <tr>
                <td>{{ orderupdate.orderupdateId }}</td>
                <td>{{ orderupdate.updatemessage }}</td>
                <td>{{ orderupdate.date ? orderupdate.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_orderupdate_show', {'orderupdateId': orderupdate.orderupdateId}) }}">show</a>
                    <a href="{{ path('app_orderupdate_edit', {'orderupdateId': orderupdate.orderupdateId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_orderupdate_new') }}">Create new</a>
{% endblock %}
