{% extends 'base.html.twig' %} 
{% import "base.html.twig" as base %}
{% block title %}Participation List{% endblock %}

{% block body %}
{{ base.NavBar() }}
{% include('event/artist/eventBar.html.twig') %}

    <div class="row row-cols-1 row-cols-md-3 g-4" style="margin:20px">
        {% for participation in participations %}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ participation.user.name }}</h5>
                        <p class="card-text text-muted"> {{ participation.user.role }}</p>
                        <p class="card-text">Event: <strong>{{ participation.event.name }}</strong></p>
                        <p class="card-text">Date: <strong>{{ participation.registrationdate ? participation.registrationdate|date('d-m-Y H:i:s') : '' }}</strong></p>
                        <a href="{{ path('app_participation_show_admin', {'participationid': participation.participationid}) }}" class="btn btn-primary">Show</a>
                        <a href="{{ path('app_participation_edit_admin', {'participationid': participation.participationid}) }}" class="btn btn-secondary">Edit</a>
                    </div>
                </div>
            </div>

        {% else %}
            <p>No records found.</p>
        {% endfor %}
    </div>

{% endblock %}
