{% extends 'base.html.twig' %} {% import "base.html.twig" as base %}{% block
title %}Product index{% endblock %} {% block body %}
{{ base.NavBar() }}
<table class="table">
	<thead>
		<tr>
			<th>ProductId</th>
			<th>CategoryId</th>
			<th>Name</th>
			<th>Description</th>
			<th>Dimensions</th>
			<th>Weight</th>
			<th>Material</th>
			<th>Image</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		{% for product in products %}
		<tr>
			<td>{{ product.productId }}</td>
			<td>{{ product.categoryId }}</td>
			<td>{{ product.name }}</td>
			<td>{{ product.description }}</td>
			<td>{{ product.dimensions }}</td>
			<td>{{ product.weight }}</td>
			<td>{{ product.material }}</td>
			<td>{{ product.image }}</td>
			<td>
				<a
					href="{{
						path('app_product_show', { productId: product.productId })
					}}"
					>show</a
				>
				<a
					href="{{
						path('app_product_edit', { productId: product.productId })
					}}"
					>edit</a
				>
			</td>
		</tr>
		{% else %}
		<tr>
			<td colspan="9">no records found</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<a href="{{ path('app_product_new') }}">Create new</a>
{% endblock %}
