{% extends 'base.html.twig' %}

{% block title %}Receipt index{% endblock %}

{% block body %}
    <h1>Receipt index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ReceiptId</th>
                <th>Orderid</th>
                <th>Productid</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Tax</th>
                <th>Totalcost</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for receipt in receipts %}
            <tr>
                <td>{{ receipt.receiptId }}</td>
                <td>{{ receipt.orderid }}</td>
                <td>{{ receipt.productid }}</td>
                <td>{{ receipt.quantity }}</td>
                <td>{{ receipt.price }}</td>
                <td>{{ receipt.tax }}</td>
                <td>{{ receipt.totalcost }}</td>
                <td>{{ receipt.date ? receipt.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_receipt_show', {'receiptId': receipt.receiptId}) }}">show</a>
                    <a href="{{ path('app_receipt_edit', {'receiptId': receipt.receiptId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_receipt_new') }}">Create new</a>
{% endblock %}
