{% extends 'base.html.twig' %}

{% block title %}Artist index{% endblock %}

{% block body %}
    <h1>Artist index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ArtistId</th>
                <th>NbrArtwork</th>
                <th>Bio</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artist in artists %}
            <tr>
                <td>{{ artist.artistId }}</td>
                <td>{{ artist.nbrArtwork }}</td>
                <td>{{ artist.bio }}</td>
                <td>
                    <a href="{{ path('app_artist_show', {'artistId': artist.artistId}) }}">show</a>
                    <a href="{{ path('app_artist_edit', {'artistId': artist.artistId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_artist_new') }}">Create new</a>
{% endblock %}
