{% extends 'baseO.html.twig' %} {% block content %} {% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/Blog/CSS/AdminPage.css') }}" />
<style>
	.nav_links {
		cursor: pointer;
	}
	.adminSection {
		margin-left: 5px;
	}
</style>
{% endblock %} {% block body %}
	{% include('order/orderBar.html.twig') %}
	<link rel="stylesheet" href="{{ asset('assets/Components/form.css') }}"/>
	<link rel="stylesheet" href="{{ asset('assets/Components/specialOrder.css') }}"/>
	<link rel="stylesheet" href="{{ asset('assets/Components/buttons.css') }}"/>
	<div class="mid">
    <a href="{{ path('app_paymentoption_index') }}"><button><span>Back</span></button></a>
    <h1>Edit Paymentoption</h1>
{{ form_start(form) }}

<div class="form">
    <h2 id="heading">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
            <path d="M8 16a.93.93 0 0 1-.53-.17l-6-4A1 1 0 0 1 1 10V2a1 1 0 0 1 .47-.85l6-4A1 1 0 0 1 8 0a1 1 0 0 1 .53.15l6 4A1 1 0 0 1 15 2v8a1 1 0 0 1-.47.85l-6 4a.93.93 0 0 1-.53.15zM8 1.3L3.12 4.15 2 5v4l1.12.85L8 12.7l4.88-2.85L14 9V5l-1.12-.85L8 1.3z"/>
            <path d="M8 6a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
        </svg>
        Add New Shipping Company
    </h2>
    {{ form_errors(form) }}

    Enter Company Name
    {{ form_widget(form.name, {'attr': {'class': 'field'}}) }}
    <br/>
    
    Available Countries
    {{ form_widget(form.availablecountries, {'attr': {'class': 'field'}, 'full_name': 'form[availablecountries][]'}) }}
    <br/>

    <div class="btn">
        <button type="submit" class="button1">{{ button_label|default('Save') }}</button>
    </div>
</div>
{{ form_end(form) }}
    {{ include('paymentoption/_delete_form.html.twig') }}
{% endblock %}

{% endblock %}