{% extends 'base.html.twig' %} 
{% import "base.html.twig" as base %}
{% block body %}

{% include('Components/NavBar.html.twig') %}

{% include('order/orderBar.html.twig') %}

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>PaymentoptionId</th>
                <th>Name</th>
                <th>Availablecountries</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paymentoption in paymentoptions %}
            <tr>
                <td>{{ paymentoption.paymentoptionId }}</td>
                <td>{{ paymentoption.name }}</td>
                <td>{{ paymentoption.availablecountries }}</td>
                <td>
                    <a href="{{ path('app_paymentoption_show', {'paymentoptionId': paymentoption.paymentoptionId}) }}">show</a>
                    <a href="{{ path('app_paymentoption_edit', {'paymentoptionId': paymentoption.paymentoptionId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_paymentoption_new') }}">Create new</a>
{% endblock %}
