{% extends 'base.html.twig' %} {% import "base.html.twig" as base %}{% block
title %}Client index{% endblock %} {% block body %}
{{ base.NavBar() }}
<table class="table">
	<thead>
		<tr>
			<th>ClientId</th>
			<th>NbrOrders</th>
			<th>NbrDemands</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		{% for client in clients %}
		<tr>
			<td>{{ client.clientId }}</td>
			<td>{{ client.nbrOrders }}</td>
			<td>{{ client.nbrDemands }}</td>
			<td>
				<a href="{{ path('app_client_show', { clientId: client.clientId }) }}"
					>show</a
				>
				<a href="{{ path('app_client_edit', { clientId: client.clientId }) }}"
					>edit</a
				>
			</td>
		</tr>
		{% else %}
		<tr>
			<td colspan="4">no records found</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<a href="{{ path('app_client_new') }}">Create new</a>
{% endblock %}
