<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Admin Dashboard</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-pills">
        <li class="nav-item">
          <a class="nav-link {% if app.request.get('_route') starts with 'app_event_index_admin' %}active{% endif %}" href="{{ path('app_event_index_admin') }}">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if app.request.get('_route') starts with 'app_activity_index_admin' %}active{% endif %}" href="{{ path('app_activity_index_admin') }}">Activities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if app.request.get('_route') starts with 'app_participation_index_admin' %}active{% endif %}" href="{{ path('app_participation_index_admin') }}">Participations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if app.request.get('_route') starts with 'app_feedback_index_admin' %}active{% endif %}" href="{{ path('app_feedback_index_admin') }}">Feedbacks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if app.request.get('_route') starts with 'app_eventreport_index_admin' %}active{% endif %}" href="{{ path('app_eventreport_index_admin') }}">Reports</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
