{% extends 'baseE.html.twig' %} 
{% block content %}

{% block body %}
	{% include('event/admin/eventBar.html.twig') %}


  
  <div class="select-container">
 
    <form action="{{ path('app_event_index_admin') }}" method="GET">
      <div class="form-group">
        <input type="text" id="search-term" name="q" class="form-control" value="{{ searchTerm }}"placeholder="Search..."> 
      </div>
    </form>

    <form action="{{ path('app_event_index_admin') }}" method="get">
      <p style="display:inline-block; margin-right: 10px;">Sort By User</p>
      <select name="userID" onchange="this.form.submit()">
        <option value="" {% if app.request.query.get('userName') is empty %} selected {% endif %} disabled>Choose an option</option>
        {% for user in users %}
          <option value="{{user.userId}}" {% if app.request.query.get('userID') == user.userId %} selected {% endif %}>{{user.name}}</option>
        {% endfor %}
      </select>
    </form>

    <form action="{{ path('app_event_index_admin') }}" method="get">
      <p style="display:inline-block; margin-right: 10px;">Sort by Name</p>
      <select name="name" onchange="this.form.submit()">
        <option value="" {% if app.request.query.get('name') is empty %} selected {% endif %} disabled>Choose an option</option>
        <option value="asc" {% if app.request.query.get('name') == 'asc' %} selected {% endif %}>Ascending Name</option>
        <option value="desc" {% if app.request.query.get('name') == 'desc' %} selected {% endif %}>Descending Name</option>
      </select>
    </form>

      
    <form action="{{ path('app_event_index_admin') }}" method="get">
      <p style="display:inline-block; margin-right: 10px;">Sort by Price</p>
      <select name="feeOrder" onchange="this.form.submit()">
        <option value="" disabled {{ app.request.query.get('feeOrder') is empty ? 'selected' : '' }}>Choose an option</option>
        <option value="asc" {{ app.request.query.get('feeOrder') == 'asc' ? 'selected' : '' }}>Ascending Price</option>
        <option value="desc" {{ app.request.query.get('feeOrder') == 'desc' ? 'selected' : '' }}>Descending Price</option>
      </select>
    </form>

    <form action="{{ path('app_event_index_admin') }}" method="get">
      <p style="display:inline-block; margin-right: 10px;">Sort by Type</p>
      <select name="type" onchange="this.form.submit()">
        <option value="" disabled {{ app.request.query.get('type') is empty ? 'selected' : '' }}>Choose an option</option>
        <option value="Auction" {{ app.request.query.get('type') == 'Auction' ? 'selected' : '' }}>Auction</option>
        <option value="Art Fair" {{ app.request.query.get('type') == 'Art Fair' ? 'selected' : '' }}>Art Fair</option>
        <option value="Exhibition" {{ app.request.query.get('type') == 'Exhibition' ? 'selected' : '' }}>Exhibition</option>
        <option value="Open Gallery" {{ app.request.query.get('type') == 'Open Gallery' ? 'selected' : '' }}>Open Gallery</option>
      </select>
    </form>

    <form action="{{ path('app_event_index_admin') }}" method="get">
      <p style="display:inline-block; margin-right: 10px;">Sort by Status</p>
      <select name="status" onchange="this.form.submit()">
        <option value="" disabled {{ app.request.query.get('status') is empty ? 'selected' : '' }}>Choose an option</option>
        <option value="Scheduled" {{ app.request.query.get('status') == 'Scheduled' ? 'selected' : '' }}>Scheduled</option>
        <option value="Started" {{ app.request.query.get('status') == 'Started' ? 'selected' : '' }}>Started</option>
        <option value="Finished" {{ app.request.query.get('status') == 'Finished' ? 'selected' : '' }}>Finished</option>
        <option value="Postponed" {{ app.request.query.get('status') == 'Postponed' ? 'selected' : '' }}>Postponed</option>
        <option value="Cancelled" {{ app.request.query.get('status') == 'Cancelled' ? 'selected' : '' }}>Cancelled</option>
      </select>
    </form>
  </div>

  {# <h1>Event List</h1> #}
  <link rel="stylesheet" href="{{ asset('assets/Components/specialOrder.css') }}"/>
  <a href="{{ path('app_event_new_admin') }}">
    <div data-tooltip="New Event" class="button mid">
      <div class="button-wrapper">
        <div class="text">Create New</div>
        <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus-fill" viewbox="0 0 16 16">
            <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0z"/>
          </svg>
        </span>
      </div>
    </div>
  </a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Event Name</th>
      <th scope="col">Artist</th>
      <th scope="col">Artist @</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for event in events %}
    <tr>
      <td>{{ event.name }}</td>
      <td>{{ event.user.name }}</td>
      <td>{{ event.user.email }}</td>
      <td>{{ event.startdate ? event.startdate|date('Y-m-d') : '' }}</td>
      <td>{{event.enddate ? event.enddate|date('Y-m-d') : '' }}</td>
      <td>{{ event.status }}</td>
      <td>
        <a href="{{ path('app_event_show_admin', {'eventid': event.eventid}) }}" class="btn btn-outline-primary">Show</a>
        <a href="{{ path('app_event_edit_admin', {'eventid': event.eventid}) }}" class="btn btn-outline-success">Edit</a>
        <a href="{{ path('app_event_delete_admin', {'eventid': event.eventid}) }}" class="btn btn-outline-danger">Delete</a>
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="3">No records found</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
  <br>
{% endblock %}

{% block stylesheets %}
  <style>
    /* Add your styles here */
    .custom-card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    select {
      border-radius: 5px;
      padding: 5px;
      font-size: 16px;
    }
    .select-container {
      display: flex;
      margin: 20px;
    }

    .select-container form {
      margin-right: 10px;
    }

    /* Search Bar */
    .form-control {
      display: inline-block;
      max-width: 400px;
      padding: 6px 12px;
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
      color: #55595c;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
              box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
      transition: box-shadow ease-in-out .15s,border-color ease-in-out .15s;
      transition: box-shadow ease-in-out .15s,border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    }

    .form-control:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
              box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    }
    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}
  </style>
{% endblock %}
{% endblock %}