{% extends 'baseE.html.twig' %} 
{% block content %}
{% block body %}
	{% include('event/admin/eventBar.html.twig') %}

    <h1 style="margin:20px; color: #007bff;">Create new event</h1>
    <br>

    <div class="form-container">

        {{ form_start(form,{ 'attr' :{ 'novalidate':'novalidate'}}) }}

            {{ form_row(form.name) }}
            {{ form_row(form.location) }}
            {{ form_row(form.type) }}
            {{ form_row(form.description) }}
            {{ form_row(form.entryfee) }}
            {{ form_row(form.capacity) }}
            {{ form_row(form.startdate) }}
            {{ form_row(form.enddate) }}
            {{ form_row(form.status) }}
            {{ form_row(form.user) }}        

            <div class="form-group">
                <style>input[type="file"] { display: none;}</style>
                {{ form_row(form.image) }}
                <img id="preview-image" style="max-width: 128px" src="{{ asset(event.image) }}" alt="event image" onclick="document.getElementById('event_image').click()">
                </br>
                <span id="image-name"></span>

                <script>
                    document.getElementById('event_image').addEventListener('change', function(e) {
                        var fileName = e.target.files[0].name;
                        document.getElementById('image-name').innerHTML = fileName;
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            document.getElementById('preview-image').setAttribute('src', e.target.result);
                        }
                        reader.readAsDataURL(e.target.files[0]);
                    });
                </script>

                {{ include('event/_form.html.twig', {'button_label': 'Add'}) }}
                {{ form_end(form) }}
                <a href="{{ path('app_event_index_admin') }}">
                    <i class="fas fa-arrow-left"></i> Back to List
                </a>
            </div>
    </div>
</br></br>      
{% endblock %}

{% block stylesheets %}
<style>
/* Add your styles here */
label {
display: block;
margin-bottom: 10px;
font-weight: bold;
}
input[type="text"],
textarea {
display: block;
width: 100%;
padding: 10px;
margin-bottom: 20px;
border-radius: 5px;
border: 1px solid #ccc;
}
select {
display: block;
width: 100%;
padding: 10px;
margin-bottom: 20px;
border-radius: 5px;
border: 1px solid #ccc;
background-color: #fff;
}
input[type="submit"] {
background-color: #4CAF50;
color: #fff;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
}
input[type="submit"]:hover {
background-color: #3e8e41;
}
.error {
color: #f00;
font-weight: bold;
}
.form-container {
width: 50%;
margin: auto;
background-color: #f2f2f2;
padding: 20px;
border-radius: 10px;
}
.form-container h1 {
text-align: center;
margin-bottom: 20px;
}
</style>
{% endblock %}
{% endblock %}