{% extends 'base.html.twig' %} 
{% import "base.html.twig" as base %}
{% block body %}

{% include('Components/NavBar.html.twig') %}
{% include('order/orderBar.html.twig') %}
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>OrderstatusId</th>
                <th>Status</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for orderstatus in orderstatuses %}
            <tr>
                <td>{{ orderstatus.orderstatusId }}</td>
                <td>{{ orderstatus.status }}</td>
                <td>{{ orderstatus.date ? orderstatus.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_orderstatus_show', {'orderstatusId': orderstatus.orderstatusId}) }}">show</a>
                    <a href="{{ path('app_orderstatus_edit', {'orderstatusId': orderstatus.orderstatusId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_orderstatus_new') }}">Create new</a>
{% endblock %}
