{% extends 'baseO.html.twig' %} {% block content %} {% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/Blog/CSS/AdminPage.css') }}" />
<style>
	.nav_links {
		cursor: pointer;
	}
	.adminSection {
		margin-left: 5px;
	}
</style>
{% endblock %} {% block body %}
	{% include('order/orderBar.html.twig') %}
	<link rel="stylesheet" href="{{ asset('assets/Components/form.css') }}"/>
	<link rel="stylesheet" href="{{ asset('assets/Components/specialOrder.css') }}"/>
	<link rel="stylesheet" href="{{ asset('assets/Components/buttons.css') }}"/>
	<div class="mid">
    <a href="{{ path('app_orderstatus_index') }}"><button><span>Back</span></button></a>
{{ form_start(form) }}
    <div class="form">
        <h2 id="heading">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                <path d="M5 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H5.5a.5.5 0 0 1-.5-.5zm7-2a.5.5 0 0 1 .5-.5h.5a.5.5 0 0 1 0 1h-.5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h.5a.5.5 0 0 1 0 1h-.5a.5.5 0 0 1-.5-.5zm-6.146 6.146a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708 0l-1-1a.5.5 0 0 1 0-.708l2-2a.5.5 0 0 1 .708 0l1 1zM14 2.5v8.293l-3.146-3.147a.5.5 0 0 0-.708 0l-1 1a.5.5 0 0 0 0 .708l3.5 3.5a.5.5 0 0 0 .708 0l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708 0l-1 1a.5.5 0 0 0 0 .708L14 10.793V2.5z"/>
            </svg>
    <h1>Create new Orderstatus</h1>
        </h2>
        {{ form_errors(form) }}

        Enter Status
        {{ form_widget(form.status, {'attr': {'class': 'field'}}) }}
        <br/>
        Choose Date
        {{ form_widget(form.date, {'attr': {'class': 'field'}}) }}
        <br/>
        Choose Order Id
        {{ form_widget(form.orderid, {'attr': {'class': 'field'}}) }}
        <br/>

        <div class="btn">
            <button type="submit" class="button1">{{ button_label|default('Save') }}</button>
        </div>
    </div>
{{ form_end(form) }}

{% endblock %}
{% endblock %}
