{% extends 'baseO.html.twig' %} {% block content %} {% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/Blog/CSS/AdminPage.css') }}" />
<style>
	.nav_links {
		cursor: pointer;
	}
	.adminSection {
		margin-left: 5px;
	}
</style>
{% endblock %} {% block body %}
    <h1>Orderstatus</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>OrderstatusId</th>
                <td>{{ orderstatus.orderstatusId }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ orderstatus.status }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ orderstatus.date ? orderstatus.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_orderstatus_index') }}">back to list</a>

    <a href="{{ path('app_orderstatus_edit', {'orderstatusId': orderstatus.orderstatusId}) }}">edit</a>

    {{ include('orderstatus/_delete_form.html.twig') }}
{% endblock %}

{% endblock %}