{% extends 'base.html.twig' %}

{% block title %}Comments index{% endblock %}

{% block body %}
    <h1>Comments index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>CommentsId</th>
                <th>Content</th>
                <th>Date</th>
                <th>Rating</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.commentsId }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.date ? comment.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ comment.rating }}</td>
                <td>
                    <a href="{{ path('app_comments_show', {'commentsId': comment.commentsId}) }}">show</a>
                    <a href="{{ path('app_comments_edit', {'commentsId': comment.commentsId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_comments_new') }}">Create new</a>
{% endblock %}
