{% extends 'base.html.twig' %} {% import "base.html.twig" as base %}{% block
title %}Order index{% endblock %} {% block body %}
{{ base.NavBar() }}
{% include('order/orderBar.html.twig') %}
<link rel="stylesheet" href="{{ asset('assets/Components/specialOrder.css') }}" />
<a href="{{ path('app_order_new') }}">
<div data-tooltip="New Order" class="button mid">
<div class="button-wrapper">
  <div class="text">Create New</div>
    <span class="icon">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus-fill" viewBox="0 0 16 16">
  <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0z"/>
</svg> </span>
  </div>
</div>
</a>
<table class="table table-hover table-bordered">
	<thead>
		<tr>
			<th>OrderId</th>
			<th>Quantity</th>
			<th>Shippingaddress</th>
			<th>Orderdate</th>
			<th>Totalcost</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		{% for order in orders %}
		<tr>
			<td>{{ order.orderId }}</td>
			<td>{{ order.quantity }}</td>
			<td>{{ order.shippingaddress }}</td>
			<td>{{ order.orderdate ? order.orderdate|date('Y-m-d') : '' }}</td>
			<td>{{ order.totalcost }}</td>
			<td>
				<a href="{{ path('app_order_show', { orderId: order.orderId }) }}"
					>show</a
				>
				<a href="{{ path('app_order_edit', { orderId: order.orderId }) }}"
					>edit</a
				>
			</td>
		</tr>
		{% else %}
		<tr>
			<td colspan="6">no records found</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
