{% extends 'baseO.html.twig' %} {% block content %} {% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/Blog/CSS/AdminPage.css') }}" />
<style>
	.nav_links {
		cursor: pointer;
	}
	.adminSection {
		margin-left: 5px;
	}
</style>
{% endblock %} {% block body %}
	{% include('order/orderBar.html.twig') %}
	<link rel="stylesheet" href="{{ asset('assets/Components/specialOrder.css') }}"/>

	<a href="{{ path('app_order_admin') }}">
		<button>
			<span>Back</span>
		</button>
	</a>
	<div class="card mid">
		<div class="card-details">
			<p class="text-title">Order ID : {{order.orderId}}</p>
			<p class="text-body">Quantity : {{order.quantity}}</p>
			<p class="text-body">Shipping Address : {{order.shippingaddress}}</p>
			<p class="text-body">Date : {{order.orderdate ? order.orderdate|date('Y-m-d'):''}}</p>
			<p class="text-body">Price : {{order.totalcost}}</p>
		</div>
    </div>
	<a href="{{ path('app_order_edit', {'orderId': order.orderId}) }}">
		<button>
			<span>Edit</span>
		</button>
	</a>
	{{ include('order/_delete_form.html.twig') }}
{% endblock %}

{% endblock %}