{% extends 'baseE.html.twig' %} 
{% block content %}
    {% block body %}
        {% include('event/admin/eventBar.html.twig') %}

            <h1 style="margin:20px; color: #007bff;">Edit activity</h1>
            <br>

        <div class="form-container">
            {{ form_start(form,{ 'attr' :{ 'novalidate':'novalidate'}}) }}
            
            {{ form_row(form.title) }}
            {{ form_row(form.event) }}
            {{ form_row(form.host) }}
            {{ form_row(form.date) }}

            <center>
                {{ include('activity/_form.html.twig', {'button_label': 'Update'}) }}
            </center>
            {{ form_end(form) }}
            <a href="{{ path('app_activity_index_admin') }}">
                <i class="fas fa-arrow-left"></i> Back to List
            </a>
        
        </div>
    {% endblock %}

    {% block stylesheets %}
        <style>
        /* Add your styles here */
        label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
        }
        input[type="text"],
        textarea {
        display: block;
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #ccc;
        }
        select {
        display: block;
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #ccc;
        background-color: #fff;
        }
        input[type="submit"] {
        background-color: #4CAF50;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        }
        input[type="submit"]:hover {
        background-color: #3e8e41;
        }
        .error {
        color: #f00;
        font-weight: bold;
        }
        .form-container {
        width: 50%;
        margin: auto;
        background-color: #f2f2f2;
        padding: 20px;
        border-radius: 10px;
        }
        .form-container h1 {
        text-align: center;
        margin-bottom: 20px;
        }
        </style>
    {% endblock %}
{% endblock %}
