{% extends 'baseE.html.twig' %} 
{% block content %}
{% block body %}
	{% include('event/admin/eventBar.html.twig') %}

    <center>
        {# <h1>Activity List</h1> #}
        <br>
        <a href="{{ path('app_activity_new') }}" class="btn btn-success">Create New</a>
    </center>

    <div class="row row-cols-1 row-cols-md-3 g-4" style="margin:20px">
        {% for activity in activities %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ activity.title }}</h5>
                    <p class="card-text">Date: {{ activity.date ? activity.date|date('Y-m-d H:i:s') : '' }}</p>
                    {# <p class="card-text">Title: {{ activity.title }}</p> #}
                    <p class="card-text">Host: {{ activity.host }}</p>
                    <a href="{{ path('app_activity_show', {'activityid': activity.activityid}) }}" class="btn btn-primary">Show</a>
                    <a href="{{ path('app_activity_edit', {'activityid': activity.activityid}) }}" class="btn btn-secondary">Edit</a>
                </div>
            </div>
        </div>
        {% else %}
            <p>No records found.</p>
        {% endfor %}
    </div>

{% endblock %}
{% endblock %}
