{% extends 'base.html.twig' %}

{% block title %}Customproduct index{% endblock %}

{% block body %}
    <h1>Customproduct list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for customproduct in customproducts %}
            <tr>
                <td>{{ customproduct.product.name }}</td>
                <td>
            
                 <form action="{{ path('app_customproduct_apply', {'customProductId': customproduct.customProductId}) }}" method="post">
    <button id="applyBtn-{{ customproduct.customProductId }}" type="submit" class="btn btn-primary">Apply</button>
</form>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<a href="{{ path('app_apply_accepted') }}">Go to accepted works</a>

    {% block javascripts %}
    {{ parent() }}
    <script>
        {% for customproduct in customproducts %}
            document.getElementById("applyBtn-{{ customproduct.customProductId }}").addEventListener("click", function() {
                this.disabled = true;
            });
        {% endfor %}
    </script>

    
{% endblock %}
{% endblock %}