{% extends 'baseF.html.twig' %}

{% block content %}
<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
      <!-- Flashy depends on jQuery -->
        <script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    <!-- Include Flashy default partial -->
{{ include('@MercurySeriesFlashy/flashy.html.twig') }}

{% block stylesheets %}
      <!-- Flashy depends on jQuery -->
        <script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    <!-- Include Flashy default partial -->
{{ include('@MercurySeriesFlashy/flashy.html.twig') }}
<style>

.custom-card {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 20px;
    display: inline-block;
    width: 100%;
    background-color: #232931;
    transition: box-shadow 0.2s ease-in-out;
}

.custom-card:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.custom-card h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #FFFFFF;
}

.custom-card p {
    margin-top: 0px;
    color: #FFFFFF;
}

.custom-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 12px 20px;
    background-color: #AA336A;
    color: #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

.custom-card a:hover {
    background-color: #0D6E72;
}
.custom-card btn {
    display: inline-block;
    margin-top: 10px;
    padding: 12px 20px;
    background-color: #AA336A;
    color: #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

.custom-card a:hover {
    background-color: #0D6E72;
}

.custom-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.custom-card:nth-child(4n+1) {
    clear: left;
}
.actions button {
  margin-bottom: 8px;
}

.link-style {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 20px;
  border-radius: 4px;
  color: white;
  background-color: #43464B;
  font-weight: bold;
  text-decoration: none;
}

.pill {
  display: inline-block;
  background-color: #0D6E72;
  color: #fff;
  border-radius: 20px;
  padding: 2px 5px;
  margin-right: 10px;
  font-size: 70%;
  text-align: left;
 
}
.link-style:hover {
  background-color: #3e8e41;
  color: white;}
  .orderby-link {
  display: inline-block;
  padding: 8px 16px;
  background-color: #AA336A;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.orderby-link:hover {
  background-color: #AA336A;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
</style>

{% endblock %}
{% block body %}

{% block title %}
        <h4><em>Custom</em> Products</h4>
{% endblock %}
<style>
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  label {
    margin-left: 10px;
    margin-right: 5px;
  }

    select {
    margin-right: 5px;
  }
.form-control {
  display: inline-block;
  width: 30%;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: box-shadow ease-in-out .15s,border-color ease-in-out .15s;
  transition: box-shadow ease-in-out .15s,border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}



</style>

<center>
  <form action="{{ path('app_customproduct_artist') }}" method="GET">
  <label  for="criteria">Search by:</label>
    <select id="criteria" name="criteria">
      <option value="name" {% if app.request.query.get('criteria') == 'name' %}selected{% endif %}>Name</option>
      <option value="weight" {% if app.request.query.get('criteria') == 'weight' %}selected{% endif %}>Weight</option>
      <option value="material" {% if app.request.query.get('criteria') == 'material' %}selected{% endif %}>Material</option>
    </select>
    <input type="text" id="search-term" name="q" class="form-control" value="{{ searchTerm }}" placeholder="Search...">
    
  </form>
</center>

    <a  class="orderby-link" href="{{ path('app_apply_accepted') }}">Accepted Works</a>
    <a  class="orderby-link" href="{{ path('app_apply_pending') }}">Your Demands</a>
    <div class="card-container">
              {% set customproductCount = 0 %}
{% for customproduct in customproducts %}
    {% if customproductCount % 4 == 0 %}
        <div class="row">
    {% endif %}
    <div class="col-sm-3">
           <div class="custom-card">
                    <img src="{{ customproduct.product.image }}" alt="{{ customproduct.product.name }} image"/>
           
                    <h2>{{ customproduct.product.name }}</h2>
                    <p>{{ customproduct.product.dimensions }}</p>
           
         <p class="pill">{{ customproduct.product.category }}</p>
             <a  style="background-color: green;" href="{{ path('app_customproduct_apply', {'customProductId': customproduct.customProductId}) }}">Apply</a>
                 <a href="{{ path('app_customproduct_showartist', {'customProductId': customproduct.customProductId}) }}">show</a>
                   
                
  
                       
             
              </div>   </div>
      {% set customproductCount = customproductCount + 1 %}

    {% if customproductCount % 4 == 0 %}
        </div>
    {% endif %}
        {% else %}
            <p>No records found.</p>
        {% endfor %}
         {{ knp_pagination_render(customproducts) }}
    </div>




<script>
// Add onclick event to all hyperlinks
var links = document.getElementsByTagName("a");
for (var i = 0; i < links.length; i++) {
  links[i].setAttribute("onclick", "playSound()");
}
var linkss = document.getElementsByTagName("button");
for (var i = 0; i < linkss.length; i++) {
  linkss[i].setAttribute("onclick", "playSound()");
}

// Play sound function
function playSound() {
  var audio = new Audio('{{ asset('js/ab.mp3') }}');
  audio.play();
}
</script>

{% endblock %}

{% endblock %}
