{% extends 'baseF.html.twig' %}

{% block content %}
{% block title %}
        <h4><em>Custom</em> Products</h4>
{% endblock %}



<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
      <!-- Flashy depends on jQuery -->
        <script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    <!-- Include Flashy default partial -->
{{ include('@MercurySeriesFlashy/flashy.html.twig') }}
{% block stylesheets %}

<!--flashy!-->
    <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet'>

<!--flashy!-->
<style>
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination li {
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f2f2f2;
}

.pagination li.active {
  background-color: #333;
}

.pagination li span,
.pagination li a {
  display: block;
  padding: 5px 10px;
  text-align: center;
  color: #333;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.pagination li a:hover {
  background-color: #333;
  color: #fff;
}

.pagination li.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.pagination li.disabled span {
  color: #999;
}


.custom-card {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 20px;
    display: inline-block;
    width: 100%;
    background-color: #232931;
    transition: box-shadow 0.2s ease-in-out;
}

.custom-card:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.custom-card h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #FFFFFF;
}

.custom-card p {
    margin-top: 0px;
    color: #FFFFFF;
}

.custom-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 12px 20px;
    background-color: #AA336A;
    color: #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

.custom-card a:hover {
    background-color: #0D6E72;
}

.custom-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.custom-card:nth-child(4n+1) {
    clear: left;
}
.orderby-link {
  display: inline-block;
  padding: 8px 16px;
  background-color: #AA336A;
  
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.orderby-link:hover {
  background-color: #AA336A;
}

/* Search Bar */
.form-control {
  display: inline-block;
  width: 30%;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: box-shadow ease-in-out .15s,border-color ease-in-out .15s;
  transition: box-shadow ease-in-out .15s,border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.btn-search {
  display: inline-block;
  width: 20%;
  padding: 6px 12px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #17a2b8;
  border: 1px solid #17a2b8;
  border-radius: 4px;
  -webkit-transition: background-color ease-in-out .15s,border-color ease-in-out .15s;
  transition: background-color ease-in-out .15s,border-color ease-in-out .15s;
  cursor: pointer;
}

.btn-search:hover {
  background-color: #117a8b;
  border-color: #10707f;
}



.link-style {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 4px;
  color: white;
  background-color: #43464B;
  font-weight: bold;
  text-decoration: none;
}

.link-style:hover {
  background-color: #3e8e41;
  color: white;
}

.pill {
  display: inline-block;
  background-color: #0D6E72;
  color: #fff;
  border-radius: 20px;
  padding: 2px 5px;
  margin-right: 10px;
  font-size: 70%;
  text-align: left;

}

</style>



{% endblock %}

{% block body %}

<style>
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  label {
    margin-left: 10px;
    margin-right: 5px;
  }

    select {
    margin-right: 5px;
  }

a.chat-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #4CAF50;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

a.chat-button:hover {
  background-color: #3e8e41;
  cursor: pointer;
}
</style>

<center>
  <form action="{{ path('app_customproduct_index') }}" method="GET">
  <label  for="criteria">Search by:</label>
    <select id="criteria" name="criteria">
      <option value="name" {% if app.request.query.get('criteria') == 'name' %}selected{% endif %}>Name</option>
      <option value="weight" {% if app.request.query.get('criteria') == 'weight' %}selected{% endif %}>Weight</option>
      <option value="material" {% if app.request.query.get('criteria') == 'material' %}selected{% endif %}>Material</option>
    </select>
    <input type="text" id="search-term" name="q" class="form-control" value="{{ searchTerm }}" placeholder="Search...">
    
  </form>
</center>



    

</form></center>




{% set totalWeight = customproducts|reduce((total, customproduct) => total + customproduct.product.weight, 0) %}
<link rel="stylesheet" href="{{ asset('assets/Components/specialOrder.css') }}"/>
	<a href="{{ path('app_customproduct_newnew') }}">
		<div data-tooltip="New Product" class="button mid">
			<div class="button-wrapper">
				<div class="text">Create New</div>
				<span class="icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus-fill" viewbox="0 0 16 16">
						<path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0z"/>
					</svg>
				</span>
			</div>
		</div>
	</a>
	
{% if customproducts.getTotalItemCount() > 0 %}
<a href="{{ path('app_apply_clients') }}" class="link-style">Demands</a>
<a href="{{ path('app_apply_clientdone') }}" class="link-style">Check Progress</a>
<div>
<center>
{% set direction = app.request.get('direction', 'asc') %}
{% set orderNameDirection = (app.request.get('order') == 'name') ? (direction == 'asc' ? 'desc' : 'asc') : direction %}
{% set orderWeightDirection = (app.request.get('order') == 'weight') ? (direction == 'asc' ? 'desc' : 'asc') : direction %}
<p style="color: #fff;">Total weight of displayed Products: {{ totalWeight }}</p>
<a href="{{ path('app_customproduct_index', {'order': 'name', 'direction': orderNameDirection }) }}" class="orderby-link">Order by Name {{ direction == 'asc' ? '&#9660;' : '&#9650;' }}</a>
<a href="{{ path('app_customproduct_index', {'order': 'weight', 'direction': orderWeightDirection }) }}" class="orderby-link">Order by Weight {{ direction == 'asc' ? '&#9660;' : '&#9650;' }}</a>
     </center>
  	</div>
    




        {% set customproductCount = 0 %}
{% for customproduct in customproducts %}
    {% if customproductCount % 4 == 0 %}
        <div class="row">
    {% endif %}

<div class="col-sm-3">
            <div class="custom-card">
            <img src="{{ asset(customproduct.product.image) }}" alt="{{ customproduct.product.name }} image" />

                <h2>{{ customproduct.product.name }}</h2>
                <p>{{ customproduct.product.dimensions }}</p>
         <p class="pill">{{ customproduct.product.category }}</p>
                <a href="{{ path('app_customproduct_show', {'customProductId': customproduct.customProductId}) }}">show</a>
                <a href="{{ path('app_customproduct_edit', {'customProductId': customproduct.customProductId}) }}">edit</a>
            </div>
             </div>
             {% set customproductCount = customproductCount + 1 %}

    {% if customproductCount % 4 == 0 %}
        </div>
    {% endif %}
    
        {% else %}
            <p>no records found</p>
        {% endfor %}
	  </ul>
      
	 {{ knp_pagination_render(customproducts) }}



{% else %}
    <p>No custom products found.</p>
{% endif %}
<center>
<a class="chat-button" href="{{ path('chat') }}">Ask for Help</a>
</center>

<script>
// Add onclick event to all hyperlinks
var links = document.getElementsByTagName("a");
for (var i = 0; i < links.length; i++) {
  links[i].setAttribute("onclick", "playSound()");
}
var linkss = document.getElementsByTagName("button");
for (var i = 0; i < linkss.length; i++) {
  linkss[i].setAttribute("onclick", "playSound()");
}

// Play sound function
function playSound() {
  var audio = new Audio('{{ asset('js/ab.mp3') }}');
  audio.play();
}

</script>
{% endblock %}
{% endblock %}
