{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create Custom Product</h1>

    {{ form_start(form) }}
     
        {{ form_row(form.product.category) }}
        {{ form_row(form.product.name) }}
        {{ form_row(form.product.description) }}
        {{ form_row(form.product.dimensions) }}
        {{ form_row(form.product.weight) }}
        {{ form_row(form.product.material) }}
        {{ form_row(form.product.image) }}

            {{ form_row(form.client) }}
    {{ include('customproduct/_form.html.twig', {'button_label': 'add'}) }}
    {{ form_end(form) }}
{% endblock %}
