{% extends 'base.html.twig' %}
{% import "base.html.twig" as base %}
{% block title %}Create Custom Product{% endblock %}
{% block stylesheets %}
<style>
/* Add your styles here */
label {
display: block;
margin-bottom: 10px;
font-weight: bold;
}
input[type="text"],
textarea {
display: block;
width: 100%;
padding: 10px;
margin-bottom: 20px;
border-radius: 5px;
border: 1px solid #ccc;
}
select {
display: block;
width: 100%;
padding: 10px;
margin-bottom: 20px;
border-radius: 5px;
border: 1px solid #ccc;
background-color: #fff;
}
input[type="submit"] {
background-color: #4CAF50;
color: #fff;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
}
input[type="submit"]:hover {
background-color: #3e8e41;
}
.error {
color: #f00;
font-weight: bold;
}
.form-container {
width: 50%;
margin: auto;
background-color: #f2f2f2;
padding: 20px;
border-radius: 10px;
}
.form-container h1 {
text-align: center;
margin-bottom: 20px;
}
</style>
{% endblock %}
{% block body %}
{{ base.NavBar() }}
<div class="form-container">
<h1>Create Custom Product</h1>
  {{ form_start(form,{ 'attr' :{ 'novalidate':'novalidate'}}) }}
     
        {{ form_row(form.product.name) }}
            {{ form_row(form.product.category) }}
        {{ form_row(form.product.description) }}
        {{ form_row(form.product.dimensions) }}
        {{ form_row(form.product.weight) }}
        {{ form_row(form.product.material) }}
        {{ form_row(form.product.image) }}
        {{ form_row(form.client) }}
    {{ include('customproduct/_form.html.twig', {'button_label': 'add'}) }}
    {{ form_end(form) }}
</div>

<script>

// Add onclick event to all hyperlinks
var links = document.getElementsByTagName("a");
for (var i = 0; i < links.length; i++) {
  links[i].setAttribute("onclick", "playSound()");
}
var linkss = document.getElementsByTagName("button");
for (var i = 0; i < linkss.length; i++) {
  linkss[i].setAttribute("onclick", "playSound()");
}

// Play sound function
function playSound() {
  var audio = new Audio('{{ asset('js/ab.mp3') }}');
  audio.play();
}
</script>
{% endblock %}