{% extends 'baseU.html.twig' %} 
{% block title %}User index{% endblock %} 
{% block content %}

<form action="{{ path('app_user_index') }}" method="GET">
    <div class="form-group">
        <label for="search-term">Search for users:</label>
        <input type="text" id="search-term" name="search" class="form-control" value="{{ searchTerm }}">
	<button type="submit" class="btn btn-outline-primary mr-2">Search</button>

    </div>
</form>
<div class="button" style="text-align: center">

<a class="btn btn-outline-primary mr-2" href="{{ path('app_user_index', {'userse': 'username'}) }}">User by name</a>
<a class="btn btn-outline-primary mr-2" href="{{ path('app_user_index', {'userse': 'name'}) }}">User by username</a>
</div>
<br>
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Role</th>
			<th>Username</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
		<tr>
			<td>{{ user.name }}</td>
			<td>{{ user.email }}</td>
			<td>{{ user.role }}</td>
			<td>{{ user.username }}</td>

			<td>
				<a class="btn btn-outline-primary mr-2" href="{{ path('app_user_show', { userId: user.userId }) }}">show</a>
				<a class="btn btn-outline-primary mr-2" href="{{ path('app_user_edit', { userId: user.userId }) }}">edit</a>
			</td>
		</tr>
		{% else %}
		<tr>
			<td colspan="14">no records found</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}