{% extends 'base.html.twig' %} 
{% import "base.html.twig" as base %}
{% block title %}User index{% endblock %} 
{% block body %}
{{ base.NavBar() }}

<form action="{{ path('app_user_index') }}" method="GET">
    <div class="form-group">
        <label for="search-term">Search for users:</label>
        <input type="text" id="search-term" name="search" class="form-control" value="{{ searchTerm }}">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<a href="{{ path('app_user_index', {'userse': 'username'}) }}">User by name</a>
<a href="{{ path('app_user_index', {'userse': 'name'}) }}">User by username</a>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Role</th>
			<th>Username</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
		<tr>
			<td>{{ user.name }}</td>
			<td>{{ user.email }}</td>
			<td>{{ user.role }}</td>
			<td>{{ user.username }}</td>

			<td>
				<a href="{{ path('app_user_show', { userId: user.userId }) }}">show</a>
				<a href="{{ path('app_user_edit', { userId: user.userId }) }}">edit</a>
			</td>
		</tr>
		{% else %}
		<tr>
			<td colspan="14">no records found</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}