{% extends 'baseF.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
        
<style>
    label{
color: black;
}
h1 {
    width: 50%;
    color:black
  }
  .password-field input,
#confirm_password {
    border: none;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
}
main {
      color: #6F8BA4;
      margin-top: 20px;
    }
.button{
    align: center;
  }
    .section {
      padding: 100px 0;
      position: relative;
    }

    .gray-bg {
      background-color: #f5f5f5;
    }

  

.password-field input:focus,
#confirm_password:focus {
    border-bottom: 2px solid #2E9AFE;
}

/* Input field styling */
.form-control {
    border: none;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
}

.form-control:focus {
    border-bottom: 2px solid #2E9AFE;
}
    </style>

<section class="section about-section gray-bg" id="about">
<div class="container">
        <div class="col"></div>
         <h1>Sign Up</h1>
    <div class="col-sm-12">
    <br><br>

      <!-- Start the form and add a class attribute to it -->
      {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    
      <!-- The input fields for name, username, email, and password -->
      <div class="form-group">
        {{ form_label(form.name, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Name', 'id': 'name'}}) }}
      </div>
    
      <div class="form-group">
        {{ form_label(form.username, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Username', 'id': 'username'}}) }}
      </div>
    
      <div class="form-group">
        {{ form_label(form.email, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email', 'id': 'email'}}) }}
      </div>

      <div class="form-group">
        {{ form_label(form.phonenumber, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.phonenumber, {'attr': {'class': 'form-control', 'placeholder': 'phoneNumber', 'id': 'phonenumber'}}) }}
      </div>
    
      <!-- The input field for birthday -->
      <div class="form-group">
        {{ form_label(form.birthday, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.birthday, {'attr': {'class': 'form-control', 'id': 'birthday'}}) }}
      </div>
      

    <div class="form-group">
    {{ form_row(form.password, {'attr': {'class': 'form-control', 'id': 'password'}}) }}
</div>

  <div class="form-group">
        {{ form_label(form.role) }}
        {{ form_widget(form.role, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.file, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.file, {'attr': {'class': 'form-control blogImageFile', 'id': 'formFile'}}) }}
      </div>
     
    <br></br>  
        
        <div class="button" style="text-align: center">
    <button type="submit" class="btn btn-outline-primary mr-2" id="submitBtn">
        {{ button_label|default('Register') }}
    </button>
</div>
    {{ form_end(form) }}
</div>
</div>
</div>
</div>  
</div>

</section>
{% endblock %}