{% extends 'baseF.html.twig' %}

{% block title %}Token Verification{% endblock %}

{% block content %}
<style>
    label{
color: Black;

}
h1 {
    font-size: 4rem; /* set the font size to 4rem */
        color: #20247b; /* set the font color */
        text-shadow: 2px 2px 4px #000000; /* add a text shadow */
        border-bottom: 4px solid #20247b; /* add a border bottom */
        padding-bottom: 10px; /* add some padding */
        text-align: center; /* center the text */
    
  }
  .section {
      padding: 100px 0;
      position: relative;
    }

    .gray-bg {
      background-color: #f5f5f5;
    }

  
  .password-field input,
#confirm_password {
    border: none;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
}

.password-field input:focus,
#confirm_password:focus {
    border-bottom: 2px solid #2E9AFE;
}

/* Input field styling */
.form-control {
    border: none;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
}
.form-group{
    text-align: center;

}
.form-control:focus {
    border-bottom: 2px solid #2E9AFE;
}
    </style>


<section class="section about-section gray-bg" id="about">
    <div class="container">
        <div class="col"></div>
             <div class="col-sm-12">
    
             <br><br>
                {% if app.session.get('warning_message') is not null %}
            <div class="alert alert-warning">{{ app.session.get('warning_message') }}</div>
        {% endif %}
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
         <div class="form-group">
              {{ form_row(form.token, {'attr': {'class': 'form-control', 'id': 'token'}}) }}
         </div>


            <br></br> 

    <div class="button" style="text-align: center">
        <button type="submit" class="btn btn-outline-primary mr-2" id="submitBtn">
            {{ button_label|default('Verify') }}
        </button>

    </div>
{{ form_end(form) }}
                </div>
            </div>
        <a href="{{ path('app_user_EnableAccount', {'userId': userId}) }}" class="btn btn-outline-primary mr-2">Resend Email</a>

        </div>

    </div>  
</div>
</section>
{% endblock %}